[2012-06-07 04:33] eteq opened #3 "Update docs to reflect astropy core standard layout"
Once the doc changes cool down in the astropy core, this template should be updated to reflect that format (esp. astropy/astropy#218).

[2012-07-27 23:11] eteq opened #5 "Update for issues with numpy import"
This is a reminder to update setup.py with the necessary changes to adress the fix to astropy/astropy#320 dealing with building before numpy is installed.

[2012-10-04 23:14] astrofrog opened #10 "Incorrect developer version in RTD"
Somehow, affiliated packages get the dev revision number from astropy in the docs:

http://astroquery.readthedocs.org/en/latest/index.html

I don't have time to look into it for now, but if anyone wants to, please go ahead!

[2012-11-23 06:06] eteq opened #11 "update setup.py for configuration default-setting"
Assuming astropy/astropy#498 goes through, we need to update `setup.py` here to for those changes, but not just copy-and-paste... it needs to be slightly altered so that the .cfg file goes to the root of the source directory, rather than the `config` directory.

[2012-11-23 13:33] #10 closed, assigned to nobody

[2013-03-14 23:04] keflavich opened #14 "Include default .travis.yml in package-templates?"
It would be nice to include a `.travis.yml` template file - perhaps exactly that in astropy, but with installing astropy added - in the package template.  Is there any reason not to?

I notice in PR #8, non-github hosted packages are intended to be supported.  Might it make sense to make a github-specific package-template branch, or something of the like, with tests & `edit on github` included?

[2013-03-27 00:19] wkerzendorf opened #15 "problem running setup.py on a vanilla package_template"
I'm running into the following problem at the moment:

`python setup.py build
pkg_resources found
WARNING: Unknown distribution option: 'install_requires' [distutils.dist]
WARNING: Unknown distribution option: 'zip_safe' [distutils.dist]
WARNING: Unknown distribution option: 'use_2to3' [distutils.dist]
running build
running build_py
ERROR: AttributeError: Distribution instance has no attribute 'ex

[2013-03-27 19:11] #15 closed, assigned to nobody

[2013-04-07 19:07] #11 closed, assigned to nobody

[2013-04-08 16:43] #5 closed, assigned to nobody

[2013-04-08 16:45] eteq opened #16 "Make `egg_info` work even when `astropy` is not installed"
This is discussed in part in #5 by @astrofrog - we want `python setup.py egg_info` to always work for affiliated packages, even if `astropy` is not yet installed.  Currently that's not the case because `import astropy` is in `setup.py`.

Perhaps the way around it is to put a `try`/`except ImportError` around the astropy import and subsequent code, and then have a stripped-down `setup` function in

[2013-04-09 04:07] cdeil opened #17 "Add instructions to register package on PyPI"
I think astropy affiliated packages should be registered in [PyPI](https://pypi.python.org/pypi/) or the names might be taken by others at any time.

Do you agree?
Can you add this to the list of instructions in the README file?

Looking at http://affiliated.astropy.org/ there's a few existing affiliated packages that aren't registered. Should I file an issue with them?

[2013-04-09 04:11] cdeil opened #18 "Add instructions to set up readthedocs"
Should we add instructions on how to set up documentation on readthedocs for astropy affiliated packages. We could mention that this is just one option and that the authors are free to put docs elsewhere.

Specifically I wanted to set up docs on readthedocs and didn't manage (but didn't investigate further yet):
https://github.com/cdeil/crosstalk/issues/1

[2013-04-09 04:18] cdeil opened #19 "TypeError running tests"
Running `python setup.py test` gives the following `TypeError` (but otherwise seems to work just fine):

[code]

See full output here: https://gist.github.com/cdeil/5342899

[2013-04-13 16:56] weaverba137 opened #23 "Add instructions on how to update an existing affiliated package that already follows package-template."
Maybe these instructions already exist, but what is the procedure for updating an affiliated package that already adheres to the package-template standard when changes to package-template come out?

[2013-04-15 16:30] #14 closed, assigned to nobody

[2013-04-17 08:09] #19 closed, assigned to nobody

[2013-05-04 16:05] eteq opened #24 "have travis try to use wheels"
Right now travis builds for affiliated packages have to build all dependencies.  With astropy/astropy#1029, we are using the "wheel" format to store binaries of scipy, numpy, and Cython, which speeds up the tests by more than 2x.  We should change the affiliated package template's `.travis.yml` to mirror this approach.

Two things needed first, though:
- [ ] First, though, we should figure out whe

[2013-05-15 11:12] cdeil opened #25 "python setup.py test --coverage should show affiliated package coverage"
Running `python setup.py test --coverage` in an affiliated package shows the coverage of `astropy`.
It should show the coverage of the affiliated package (at least that's what I wanted / expected).

[2013-06-20 12:56] astrofrog opened #27 "Issue with ``cython_version.py``"
I've noticed a rare issue with affiliated packages, which is that if one starts with a clean virtualenv with Numpy, Cython, and Astropy (latest stable version), then does:

[code]

Then the following error occurs:

[code]

@iguananaut - this seems related to the changes you made in astropy/astropy#594 - any ideas what's going on here?

[2013-10-05 21:40] astrofrog opened #31 "Can't install affiliated packages via pip-requirements"
Consider the following pip requirements file:

[code]

If one tries to install this using `pip -r pip-requirements` it will not work, because pip runs `python setup.py egg_info` on all packages first, but APLpy has a dependency on Astropy in `setup.py`. Is there a way we can avoid this issue, maybe by catching `egg_info` near the top of `setup.py` and simply running `setup()` for a limited set of

[2014-02-18 17:37] weaverba137 opened #34 "Update MANIFEST.in"
MANIFEST.in still lists distribute_setup.py, which is no longer part of package-template.  I'm not quite enough of an expert to determine exactly which files should be included.

[2014-02-18 19:29] weaverba137 opened #35 "python setup.py test doesn't run doctests"
My affiliated package follows the template, but `python setup.py test` doesn't run the doctests in my code, but `packagename.test()` does run them, provided I have a pytest.ini file.  How do you turn on doctests?  I'd like to include the doctests in the Travis build.

[2014-02-18 20:04] weaverba137 opened #36 "How do you write .travis.yml to support scipy dependencies?"
My affiliated package uses scipy in addition to numpy, so scipy has to be installed for Travis builds to succeed.  The existing .travis.yml does not install scipy by default.

[2014-02-20 15:09] #36 closed, assigned to nobody

[2014-03-01 11:35] #25 closed, assigned to mdboom

[2014-03-11 23:21] wkerzendorf opened #40 "unrecognized arguments: --doctest-rst running setup.py test --coverage"
Some change in astropy has cause this error (down in the log of https://travis-ci.org/tardis-sn/tardis/jobs/20567524).
It can be avoided by `--skip-docs`.  This is with the newest astropy but in a semi-affiliated package.

[2014-03-19 15:31] mwcraig opened #43 "test --coverage option fails"
The  problem seems to be that the coveragerc file doesn't exist in the build directory; see below for output of `python setup.py test --coverage`.

This was run with the latest package-template changes incorporated (https://github.com/astropy/package-template/commit/857b7ae67b5bfa6c0da3328a735aeb24df15f01f) and the latest astropy (https://github.com/astropy/astropy/commit/0026bee989ecb2789a9ca54fd

[2014-03-19 15:40] #43 closed, assigned to nobody

[2014-04-11 14:54] #40 closed, assigned to nobody

[2014-04-25 18:39] pllim opened #47 "Update travis to use Numpy 1.8.0"
So it's consistent with what `astropy` core is doing.

[2014-04-25 19:18] pllim opened #48 "Cannot install nested data directories"
My project has:

[code]

Here is how I define it in `packagename/setup_package.py`:

[code]

This is the error I get when I run `setup.py install`:

[code]

This used to work until I updated my affiliated package codes with the latest setup scripts from this repo.

[2014-04-30 14:11] pllim opened #49 "Doc build gives warning about astropy_logo.ico"
Just a warning, but kind of annoying:

[code]

[2014-04-30 16:33] pllim opened #50 "Obscure Sphinx autodoc warning"
I could trace this

[code]

to a particular entry

[code]

That module only has 5 classes. So then I replaced `automodapi` with this for all the classes but I do not get the warning anymore

[code]

This also gave no warning

[code]

So I have no idea where this warning is coming from. I also tried to use `sphinx-build -v -W -T` options but the traceback is useless.

Any ideas?

If you want to loo

[2014-04-30 19:26] #50 closed, assigned to nobody

[2014-05-01 21:42] #48 closed, assigned to nobody

[2014-05-06 08:04] #34 closed, assigned to nobody

[2014-05-13 18:28] wkerzendorf opened #53 "Trouble when calling python setup.py test"
This is a slightly modified package-template. I can add more information if that helps

[code]

[2014-05-14 21:09] mperrin opened #54 "python setup.py test fails if there are spaces in the directory path"
It seems that the test framework doesn't work if there are spaces in the directory path for a package.  I ran into this because I'm using Dropbox with linked personal and work accounts so I have folders "Dropbox (Personal)" and "Dropbox (Work)". In this case my source code is in a folder inside "Dropbox (Personal)", and when I try to run the test suite from setup.py, it fails. See below. I'm not s

[2014-05-18 13:37] keflavich opened #55 "build_sphinx fails to determine versionmod.release?"
I get this error if trying to `build_sphinx` with `edit_on_github` enabled:

[code]

With `edit_on_github` set to False, this goes away.

[2014-05-19 16:40] weaverba137 opened #60 "Affiliated packages can't say what version of package-template they are compliant with"
...because there _are_ no versions!  I'd like to be able to say 'my affiliated package is compliant with package-template/v0.1.0'.

Are there plans to tag package-template at some point?  Also, since all development appears to be happening on the master branch (side question: what is the minor-fixes branch?), master isn't stable enough to target as the template for affiliated packages.

Lately, I'

[2014-05-23 16:50] mwcraig opened #64 "Build wheels for astropy 0.4 (post-0.4 release)"

[2014-05-23 16:51] mwcraig opened #65 "Use stable astropy for test coverage build (post-0.4 release)"
Test coverage for affiliated packages does not work in pre-0.4 astropy so this is case is currently run with development astropy. Once 0.4 is released it can be switched to stable, after #64 is done.

[2014-05-23 16:53] mwcraig opened #66 "Add python 3.4 to list of python versions on travis (post-0.4 release)"

[2014-05-23 19:36] #24 closed, assigned to astrofrog

[2014-05-24 23:23] #53 closed, assigned to nobody

[2014-05-24 23:41] wkerzendorf opened #68 "--coverage doesn't seem to work"
[code]

[2014-05-25 16:25] wkerzendorf opened #69 "DeprecationWarning automatically turned to Exceptions with current Astropy"
As @astrofrog pointed out some of the functionality of the new astropy-helpers needs `atropy-0.4dev` to work. This comes with the problem that the new astropy turns DeprecationWarnings into Exceptions **during testing**, which is also true for external packages. Is there an easy way to turn them back into warnings?

[2014-05-27 14:41] #49 closed, assigned to nobody

[2014-05-27 14:42] #47 closed, assigned to nobody

[2014-05-27 16:22] #54 closed, assigned to nobody

[2014-05-28 05:00] #68 closed, assigned to nobody

[2014-06-02 13:45] astrofrog opened #72 "astropy wheel should be installed second"
@mwcraig - I'm running into issues with the current .travis.yml file because some of the dependencies depend on astropy, so I think that astropy should be installed straight after numpy. Do you agree? If so, could you open a pull request?

[2014-06-06 10:53] hamogu opened #76 "Where do I put a default profile?"
I cloned a fresh copy of the template, run `sudo python setup.py install` and I get this:

[code]

It seems to me that this are really two warnings that get displayed together.

P.S. I understand that this is a template and not meant to be installed but I use the template for another package that also throws the `ConfigurationDefaultMissingWarning`. I want to get rid of that warning (I don't have

[2014-06-06 12:35] #76 closed, assigned to nobody

[2014-06-09 15:00] #69 closed, assigned to nobody

[2014-06-09 15:11] zblz opened #80 "Dependencies not available for strict numpy matplotlib wheels"
When including `matplotlib` in the `ADDITIONAL_DEPENDENCIES_STRICT_NUMPY` field of `.travis.yml`, the Travis build will error when trying to install matplotlib because its dependencies (`nose`, `python-dateutil`, etc) are not available in the provided `$WHEELHOUSE_SPOKE`. This should probably be addressed in the wheels build of PR #44 and/or astropy/astropy-wheels.

Example of the error [in a Trav

[2014-06-10 11:44] #80 closed, assigned to nobody

[2014-06-11 07:47] #72 closed, assigned to nobody

[2014-06-11 07:47] #66 closed, assigned to nobody

[2014-06-11 08:26] #31 closed, assigned to nobody

[2014-06-11 23:27] bsipocz opened #81 "Autoclosing issue in package-template closes issue in affiliated package"
It seems like using the "autofix / close issue" feature in `package-template` closes the matching issues in packages where the template was used. I'm not sure this is considered to be a bug or just an antifeature of github.

Example:
https://github.com/astropy/photutils/issues/69#event-130488245

[2014-06-19 14:59] #55 closed, assigned to nobody

[2014-06-25 18:12] weaverba137 opened #87 "Why does the minor-fixes branch still exist?"
The branch hasn't been updated since 2012.

[2014-07-17 06:31] astrofrog opened #91 "Build conda packages for Astropy 0.4 with old Numpy versions"
Astropy 0.4 is out and in conda, but, there are no conda packages for Astropy 0.4 with Numpy 1.6 and 1.7. We will likely need to build those ourselves and put them in binstar.

@mwcraig - do you think you could do this since your builds have worked well in the past? If not, I'll give it a try.

[2014-07-19 01:35] #64 closed, assigned to nobody

[2014-07-21 14:25] #16 closed, assigned to nobody

[2014-07-21 19:43] mwcraig opened #94 "Document where to find available conda packages"
It will be several days before I can pull together a PR for this, but as mentioned in #91 there needs to be some documentation of where to find the available conda packages in the astropy binstar channel.

[2014-07-22 11:55] #65 closed, assigned to nobody

[2014-07-22 11:58] #91 closed, assigned to nobody

[2014-07-22 11:59] #87 closed, assigned to nobody

[2014-07-22 12:03] astrofrog opened #95 "Tag version v0.4"
I've created a v0.4 milestone and assigned a few issues to it. Once those are done, I can tag v0.4 which just means that this is the recommended version to work with astropy v0.4 and the astropy-helpers. We don't have to actually make release tar files, but having tags will at least help affiliated package maintainers be able to refer to a version of the template. As for the helpers, it makes sens

[2014-07-22 12:04] #60 closed, assigned to nobody

[2014-07-22 12:11] astrofrog opened #96 "Overhaul setup instructions"
**Disclaimer - I am going to be controversial!**

I would like to suggest replacing the current ``README.md``, which has grown out of control, with a much simpler set of instructions, which is basically something like:

[code]

i.e. remove all the git-related stuff. Now the package template has over a hundred commits, the whole concept of merging in the changes is a pain because it clutters up the

[2014-07-25 20:33] #3 closed, assigned to nobody

[2014-08-13 19:14] cslocum opened #100 "ah_bootstrap.py crashes when no default locale set"
I was trying to install the git master of poppy when I got this error:

cslocum wombat 14% python setup.py install
Traceback (most recent call last):
  File "setup.py", line 9, in <module>
    import ah_bootstrap
  File "/internal/1/JUNK/poppy/ah_bootstrap.py", line 716, in <module>
    _main()
  File "/internal/1/JUNK/poppy/ah_bootstrap.py", line 713, in _main
    use_astropy_helpers(**kwargs)

[2014-08-13 19:26] #100 closed, assigned to nobody

[2014-08-14 07:22] #95 closed, assigned to nobody

[2014-08-14 07:24] astrofrog opened #102 "How to keep track of changes?"
It would be nice to keep track of changes in the package-template so that affiliated package maintainers can see what has changed between tagged versions (other than by git history). However, maybe a CHANGES.md file would be confusing since it would conflict with the affiliated package's own CHANGES.md. Does anyone have another suggestion? We could put this in the `README` file or in the astropy d

[2014-08-16 10:29] astrofrog opened #103 "Release instructions for affiliated packages"
Since the astropy release mechanism doesn't work for affiliated packages at this point, I have written up some release instructions for WCSAxes:

https://github.com/astrofrog/wcsaxes/blob/master/RELEASE.md

but they are applicable to most affiliated packages. Should we add this file in the package-template repo? Or should we add a page to the main astropy docs along with the other instructions rel

[2014-08-18 07:24] #17 closed, assigned to nobody

[2014-08-20 07:09] cdeil opened #104 "Print affiliated package version number in test output"
When getting bug reports from users it would very useful to have the affiliated package version number printed in the test log.

Currently this info is not printed:
https://gist.github.com/cdeil/32777e5beaba9278d85f
(the package location is printed, which does contain a folder name like `packagename-0.0.dev144-py2.7-macosx-10.9-x86_64.egg`, but that's a bit hidden and might not always contain the

[2014-08-22 11:46] #102 closed, assigned to nobody

[2014-10-03 00:23] mperrin opened #106 "Undocumented behavior that test framework resets ConfigItems to defaults can cause incorrect test failures."
I'm reporting here some undocumented behavior of the test framework that just cost me a lot of time and confusion. I'm not sure if the right fix is better documentation or better behavior.  The underlying problem is that the test framework apparently resets configuration items to their default values, regardless of any other modifications to them that might take place in program code. The end resu

[2014-10-03 20:51] josePhoenix opened #107 "Cannot load dependencies when installing (NumPy not available when `get_numpy_include_path` called)"
Typically when starting work on a new project, I create a fresh `virtualenv`, clone the project repo, and use `python setup.py develop` or `pip install -e .` to set up a locally editable copy. I tried this with [mperrin/webbpsf](https://github.com/mperrin/webbpsf) and immediately ran into trouble. It looks like the issue lies within the package template, and I can reproduce it trying to install th

[2014-11-09 16:38] #103 closed, assigned to nobody

[2014-12-11 09:47] cdeil opened #111 "Affiliated package install re-installs Astropy core command line tools"
I just noticed that `python setup.py install --user` for `package-template` (and all other affiliated packages) re-installs the Astropy core command line tools:

[code]

I don't know from where it installed e.g. `fitscheck`, but the file modification time tells me that it really touched that file:

[code]

@embray @astrofrog I guess affiliated package install has no reason to touch Astropy command

[2015-01-21 17:15] cdeil commented on #18
@astrofrog did this:
http://astropy.readthedocs.org/en/latest/development/affiliated-packages.html#id1

[2015-01-21 17:15] #18 closed

[2015-02-11 20:32] mwcraig opened #117 "github_issues_url should be set in conf.py"
`astropy-helpers` expects this variable to be set if there is a changelog for which links to github issues are automatically being generated when the documentation is built. See https://github.com/astropy/astropy/blob/master/docs/conf.py#L187 for the locationof this line in astropy.

Will do a PR to fix later this week unless someone else gets to it first.

[2015-02-21 02:31] weaverba137 opened #118 "Structure of docs directory"
Why does the package-template suggest putting all real documentation inside the `docs/packagename` directory when astropy itself does not do this?  If this is documented somewhere, I guess I just couldn't find it.

[2015-02-21 09:29] astrofrog commented on #118
So the original idea behind this was that in astropy, we do follow this structure for sub-packages, e.g. ``docs/table``. So the idea was that for affiliated packages that would be merged into the core, it would make it easier if the future sub-package docs were in the right place.

BUT I think that it's true that most affiliated packages are now not intended for merging in future, so I would be in

[2015-02-24 15:53] embray commented on #118
I guess maybe the docs could be changed to state this as a suggestion but not as a rule.

[2015-04-01 18:42] weaverba137 commented on #118
I will submit a PR shortly, but I just wanted to note that the [main astropy documentation for affiliated packages](http://astropy.readthedocs.org/en/latest/development/affiliated-packages.html), which is referenced in the README.rst file, appears to be agnostic on this topic.  So only the docs/index.rst file appears to still reference this rule.

[2015-04-28 08:17] cdeil opened #125 "edit_on_github doesn't work out of the box"
During handling of the above exception, another exception occurred:

I just followed the instructions [here](http://astropy.readthedocs.org/en/latest/development/affiliated-packages.html?packagename=astroplan) to set up a new Astropy-affiliated package [here](https://github.com/astroplanners/astroplan).

I get this error from `python setup.py build_sphinx` if I set `edit_on_github = True` in `setu

[2015-04-28 09:26] cdeil commented on #125
This is a duplicate of #119 .

[2015-04-28 09:26] #125 closed

[2015-04-28 09:32] cdeil opened #126 "jinja2.exceptions.TemplateNotFound: autosummary/base.rst"
I'm getting this Sphinx error from https://github.com/astroplanners/astroplan/commit/e538cc4b9910844916250ca792ecfae8efa681e6 .

Running `python setup.py build_sphinx` fails twice complaining `jinja2.exceptions.TemplateNotFound: autosummary/base.rst` and then, without any changes to code / docs, succeeds on the third re-run!???
[code]

[2015-04-28 10:45] astrofrog commented on #126
@cdeil - it looks like you forgot to copy over the ``docs/_templates`` directory.

[2015-04-28 10:53] cdeil commented on #126
OK, I'll try copying that over soon.

It's currently not mentioned in the guide:
http://astropy.readthedocs.org/en/latest/development/affiliated-packages.html#managing-the-template-files-manually

Also a README file should added.

Also `python setup.py build_sphinx` doesn't currently work for package-template with Sphinx 1.3.
@astrofrog Can you update to the latest astropy-helpers to fix this of s

[2015-04-28 11:03] astrofrog commented on #126
@cdeil - I'll try and fix all these today

[2015-04-28 11:07] astrofrog commented on #126
See https://github.com/astropy/astropy/pull/3737

[2015-04-28 11:10] astrofrog commented on #126
And https://github.com/astropy/package-template/pull/127

[2015-04-28 11:19] cdeil commented on #126
@astrofrog - Thanks for fixing these issues.

Indeed, the issue I had for `astroplan` was fixed by adding `docs/_templates`:
https://github.com/astroplanners/astroplan/pull/2

[2015-04-28 11:19] #126 closed

[2015-05-03 20:49] #118 closed

[2015-05-30 09:23] astrofrog commented on #104
I think this was resolved by @bsipocz in https://github.com/astropy/package-template/commit/708b628fd98a058c423fbcd741aaab2a7d69530d so closing. Feel free to re-open if this does not address your issue.

[2015-05-30 09:23] #104 closed

[2015-05-30 09:24] astrofrog commented on #96
This is now done in http://astropy.readthedocs.org/en/latest/development/affiliated-packages.html :)

[2015-05-30 09:24] #96 closed

[2015-05-30 09:31] astrofrog commented on #35
Done in https://github.com/astropy/package-template/commit/04e308081224524bcd8fe6429b2e3b4aaaef6ff4

[2015-05-30 09:31] #35 closed

[2015-05-31 11:48] astrofrog commented on #117
I wonder whether we should be using the github project variable from ``setup.cfg`` to avoid having to define the same thing twice?

[2015-06-08 23:24] weaverba137 commented on #23
I think the astropy documentation covers this issue pretty well now, so I'd close this.

[2015-06-09 00:17] weaverba137 commented on #111
I definitely don't want this behavior!  We need to have clear separation of scripts in our workflow, that is, we work in an environment where version control is very important (we use the Modules system to load versions), and we can't have extraneous scripts in one package hiding scripts in the package that we actually want.

[2015-06-09 14:39] astrofrog commented on #111
@embray - as pointed out by @cdeil, this happens even without pip. Is this normal?

[2015-06-09 14:49] cdeil commented on #111
I think this should be considered a bug, command line scripts installed by Python packages should be independent. I've never seen this with other Python packages. But @embray commented that this is normal behaviour!?

[2015-06-09 14:51] astrofrog commented on #111
It does seem like it could be a setuptools thing, it's in the section of the install log after the code has been installed where it processes the dependencies:

[code]

Maybe you can report it to setuptools to see what they think?

[2015-06-09 14:54] cdeil commented on #111
Given that there are thousands of Python package using setuptools it's more likely that this is an issue with `astropy-helpers` or `astropy`. I wouldn't know what to say exactly in a `setuptools` issue, so @astrofrog, if you think it's useful, could you please file it?

[2015-06-09 14:54] astrofrog commented on #111
I'll try and find another example to see if there is the same behavior. What other packages have scripts?

[2015-06-09 14:57] cdeil commented on #111
On my machine there's not many Python packages that install scripts (see [here](https://gist.github.com/cdeil/8cfe440a4f3c019f200c)).
E.g. IPython or Sphinx or tox.

[2015-06-09 14:57] weaverba137 commented on #111
For the record, I observed this while testing the pydl package, using `python setup.py install --prefix ...`.  So no `pip` involved, at least not directly.  This was on the head of the master branch, which I'm working on converting to the latest package-template tag.

[2015-06-09 14:58] cdeil commented on #111
I'm also seeing this with `python setup.py`, without `pip`, so as @astrofrog said, the issue must be there.

[2015-06-09 15:00] astrofrog commented on #111
And it's not astropy-specific. I took PyAVM (which doesn't use astropy-helpers and doesn't list astropy as a dependency) and set ``coveralls`` as a dependency and got:

[code]

This is setuptools, and is not related to Astropy.

[2015-06-09 15:04] weaverba137 commented on #111
I think I have a clue as to what's going on.  I was working on my Mac laptop, which has MacPorts installed.  MacPorts often renames command-line scripts, so on my machine the astropy script `fits2bitmap` becomes `fits2bitmap-ap-2.7`. So I think setuptools is installing scripts that it can't find because they have been renamed.

[2015-06-09 15:04] cdeil commented on #111
So `setuptools` is lying when it prints this line?
[code]
If so, I agree, it's worth filing an issue there.

@astrofrog Can you paste the full log of the command(s) you ran (probably in a gist if it's long).

[2015-06-09 15:05] astrofrog commented on #111
I'm not using MacPorts. I opened an issue with setuptools here to ask for clarification. To reproduce, take the pyavm package, add ``install_requires=['coveralls']`` then run ``python setup.py install``.

[2015-06-09 15:54] embray commented on #111
At some point I'm going to look into what it would take to make `./setup.py install` default to basically doing the same thing pip does when installing a package (see for example https://bitbucket.org/pypa/setuptools/issue/371/setuptools-and-state-of-pep-376 for recent discussion related to this).

I don't know if this behavior is intentional or a bug (I lean toward slight bug), but in any case it

[2015-07-17 18:16] mwcraig commented on #23
Closing per @weaverba137

[2015-07-17 18:16] #23 closed

[2015-08-05 13:23] cdeil opened #134 "Example and documentation how to log from affiliated packages"
This discussion started with @eteq at https://github.com/gammapy/gammapy/issues/315#issuecomment-127771849 ... I think this issue is a better place.

@eteq, @embray The questions I have are:
1. What is the recommended way to emit log messages from Astropy-affiliated packages?
2. What is the recommended way to configure the logger for command line tools in Astropy-affiliated packages?

I read throu

[2015-08-05 18:06] embray commented on #134
Hmm, good questions all.  Proper use of the logging module is in my wheelhouse so I'll look into this and get back to you.  This is one of those kinds of things (along with discussions we've had in the past about data file downloads) that I'd love to have better user documentation for regarding best-practices, etc.

[2015-08-05 18:36] embray commented on #134
I don't know.  Astropy doesn't do anything with the root logger.  You could check by having it `print(logging.getLogger().handlers)` and so on.  It could be that some other code is calling `logging.basicConfig` first.

A more common pattering for using the logging module, rather than using the root logger directly, is to create a logger for each module like:
[code]
and so on.  The use of `__name__

[2015-08-05 18:43] embray commented on #134
If you want a decent example of writing a console script that uses the logging module, have a look at:
https://github.com/astropy/astropy/blob/master/astropy/io/fits/scripts/fitsdiff.py
There's still a fair amount of boilerplate involved there (but that's typical since, as I said, there's no one right way depending on the application).

That said, if we *can* come up with a set of "best practices"

[2015-08-05 18:45] embray commented on #134
(Also, I'll add, I like the fitsdiff example because it demonstrates good practices with respect to separating out application code (option handling, log setup, I/O handling, etc.) from the actual algorithm logic.  All the real code is buried away in the `FITSDiff` class.  The rest is just a wrapper around it to deal with all user-interface ugliness.)

[2015-08-06 06:32] cdeil commented on #134
@embray – Thank you for the comments!

I think what we need in terms of logging is pretty basic. Command line tools with an option `--loglevel` to set the loglevel and a second option to log to a file instead or in addition to stdout (is there a standard way how to handle this and / or to file?). Color would be nice, so that warnings and errors are orange and red if logged to a terminal that suppo

[2015-08-06 18:33] cdeil commented on #134
I've gone ahead and implemented a simple solution for Gammapy ... @embray if you could have a look and give feedback, that would be very helpful!

I think this way of emitting log messages is OK?
https://github.com/gammapy/gammapy/pull/318/files#diff-00ab472a96028e9c3bcd77657d6c3701R647

From command line tools, I'm using the root logger and configuring it in a utility function:
https://github.com

[2015-08-09 09:14] astrofrog commented on #134
I'm jumping into this conversation a bit late, but why not re-use the ``AstropyLogger`` class from Astropy and inherit from this, since it already does a lot of nice things like finding the origin of warnings/info messages, dealing with the coloring, etc?

(note, I'm not saying to use the *instance* of the astropy logger, but the class)

[2015-08-09 09:29] cdeil commented on #134
@astrofrog Is there a working example of how to use `AstropyLogger`? Should I sub-class ` GammapyLogger` in Gammapy and then instantiate it in each command line script? How can I configure it so that all log messages (from Astropy or Gammapy or other packages) are formatted the same way (ideally in color)?

[2015-12-04 16:46] eteq opened #145 "Include changes from astropy/astropy#4356"
astropy/astropy#4356 changes the `astropy/__init__.py` with some minor enhancements, and those should probably be ported over here at some point

[2015-12-04 17:14] embray commented on #145
:+1:

[2015-12-04 17:15] embray commented on #145
On a related note, we really maybe ought to reverse the flow of updates we currently make from astropy into the package template, and actually switch things around so that astropy itself is based on the package-template.  That'll probably take some tweaking at both ends but is probably the best idea long term...

[2016-01-14 01:26] hamogu opened #149 "license of packages using this template"
The files in this template are BSD licensed - that's what the license says and that's what the first line in most "*.py" files says.
Does that mean that we lock all users of the template to use the BSD licence, too? As a developer for an affiliated package I don't own the files I copied over form the package-template, so I don't have the right to change their license.

I suggest adding a sentence

[2016-01-14 15:17] astrofrog commented on #149
@hamogu - no, as far as I understand you can take a BSD project and re-release it under a more restrictive license if you want. The BSD is not viral like the GPL. You can even use BSD code in commercial packages, so you could make a paid version of Astropy ;)

[2016-01-14 15:19] astrofrog commented on #149
According to the license, the only requirement is that there is a mention somewhere of the original copyright of the code.

[2016-01-15 12:38] hamogu commented on #149
I don't think that's quite true. From the license:

-    Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

where the following disclaimer is:
THIS SOFTWARE [...] SUCH DAMAGE.

which means that I essentially have to reproduce the BSD license for those files that could be considered "redistributions", i.e. those where I did

[2016-01-15 21:51] mwcraig commented on #149
Is there any reason not to make the package template public domain? Don't really have any feelings about this, to be honest, but that would be the least restrictive route.

[2016-01-16 18:37] astrofrog commented on #149
@hamogu - you can keep the text of the license without actually saying *you* are licensing it under BSD. Here's an example of me re-using some BSD code:

https://github.com/astrofrog/vispy-multivol/blob/master/multivol/shaders.py

I chose to also license my modified version under BSD, but I could also have re-licensed it under e.g. GPL (while mentioning the text of the original license as the orig

[2016-02-16 13:01] hamogu opened #151 "`setup.py test --coverage` fails to find source files on python 3 if run on Travis ..."
... and thus the report on coverage.io is empty.

I did two runs with identical source and almost identical `.travis.yml` where the only change is that I set a different python version for the test that runs the coverage results:

See these coverage results:
python 2: https://coveralls.io/jobs/12065924
python 3: https://coveralls.io/jobs/12063384

The important part of the Travis logs are here:
py

[2016-02-19 21:49] dkirkby opened #152 "Update to numpy 1.10?"
Are there plans to update the default version of numpy in .travis.yml to 1.10.x, and perhaps retire some older versions of numpy?

[2016-02-21 16:00] bsipocz commented on #152
@dkirkby - I think deciding on which numpy versions are supported (and when versions are dropped) and tested against should be up to the individual packages and not to this tempate.
However #148 actually updates the versions in the template ``.travis.yml``.

 Alternatively one can set ``stable`` as numpy version in both ``.travis.yml`` and ``appveyor.yml`` which will be resolved to be the latest s

[2016-02-21 16:54] dkirkby commented on #152
@bsipocz - Thanks for the feedback.

I think people starting with this template will assume that it tests the same matrix as the astropy main package, in order to streamline the process of eventually incorporating new code via the affiliated package mechanism.  Since astropy is still using 1.9 as its default, it makes sense to mirror that here.

Feel free to close this issue.

[2016-03-05 16:41] bsipocz opened #153 "New package-template release before pyastro16"
The last release of the template was last May. I think it may be useful to make one before (or at?) pyastro16, so people wanting to use it for their packages start from a more up-to-date version.
There are quite a lot of open PRs that can go into the new version.

I'm willing to help if there is anything I can do in this process.

cc @astrofrog @eteq

[2016-03-28 01:44] ehsteve opened #155 "Failure if data directory contains subdirectories"
This is apparently related issue described on [Stackoverflow](http://stackoverflow.com/questions/3712033/python-distutils-error-directory-doesnt-exist-or-not-a-regular-file) and Issue [19286](https://bugs.python.org/issue19286) on the Python bug list. If I simply comment out the following line from setup.py

    package_info['package_data'][PACKAGENAME].append('data/*')

then all is well.

[2016-03-28 14:27] pllim commented on #155
I remember encountering this a while ago as well.

But if you just comment out that line, does your package data still get installed? For my case, I remember replacing that line with a slightly different incantation instead of just commenting it out.

[2016-03-28 20:52] pllim commented on #155
I attempted to address this in astropy/astropy#4744

[2016-03-29 16:18] pllim opened #156 "How to disable doctest on API docstring?"
Setting this in `setup.cfg` does not help:

[code]

What is the magical incantation?

[2016-03-29 16:22] pllim commented on #156
Update: Removing that line solves the problem.

I guess I'll just have to remember to add it back in when I need it again...

[2016-03-29 16:22] #156 closed

[2016-03-29 21:11] pllim opened #157 "'NoneType' object has no attribute 'rfind' in posixpath.py (when documentation in doc, not docs)"
I see this error after I applied package template to Ginga (ejeschke/ginga#313). I don't understand where this is coming from. Has anyone else encountered this? If so, what is the solution?

https://travis-ci.org/ejeschke/ginga/builds/119364140

[code]

[2016-03-30 15:47] pllim commented on #157
So it turns out the package template freaks out when documentations are stored in `doc` instead of `docs`. Now the question is, how do I customize this template so that `python setup.py test` automatically sets `docs_path` to `'doc'` and not `'docs'`? It does not seem to know that I have set the following metadata in `setup.cfg`:

[code]

[2016-03-30 15:50] pllim commented on #153
Looks like this missed the pyastro16. But still :+1: on next release.

[2016-04-01 21:49] bmorris3 opened #160 "Mocking with package-template"
I'm trying to use the package template with a project of mine, [`shampoo`](https://github.com/bmorris3/shampoo).

The testing/CI stuff is working great, and now I'm trying to set up read the docs. Two dependencies in my package require C libraries to be installed (`pyfftw`, `h5py`), and there's no way to install C libraries on RTD. I've tried their [FAQ solution](http://read-the-docs.readthedocs.o

[2016-04-01 22:06] bmorris3 commented on #160
I did just get the build to work – it's important to put the bit of code that @keflavich mentioned above the first line where the package gets imported in `docs/conf.py`, which looks like `__import__(setup_cfg['package_name'])`.

I may do a quick PR to add a note about this do the package-template docs, if anyone thinks that's useful.

[2016-04-03 18:49] astrofrog commented on #160
@bmorris3 - just so you know, it is possible to set up dependencies using conda now (we do it for astropy core). h5py would be easy to install, and I'm sure pyfftw is in a conda channel somewhere?

[2016-04-06 17:30] pllim commented on #157
Fixed via astropy/astropy#4748

[2016-04-06 17:30] #157 closed

[2016-04-11 19:25] pllim commented on #155
I think the updated Astropy doc should address this. If not, feel free to re-open with suggestions.

[2016-04-11 19:25] #155 closed

[2016-04-11 19:29] pllim opened #161 "What to do with all these open PRs?"
Can I just go ahead and merge the ones that make sense to me? What is the process here? I see a lack of activity.

[2016-04-11 20:25] astrofrog commented on #161
I'm supposed to be a maintainer, so I can take a look at them on Wednesday. The last few weeks have been a bit crazy :laughing:

[2016-04-11 20:26] astrofrog commented on #161
But it would be helpful if you can go through and review them too, and add a :+1: if you think they are good to go.

[2016-04-11 20:26] pllim commented on #161
I guess your hands were Glued to something else. Okay, then. Thanks for following up!

[2016-04-11 20:27] astrofrog commented on #161
LOL :smile:

[2016-04-11 20:28] pllim commented on #161
You  mean a real comment with the hand emoji, or just a "reaction" (the new thingy GitHub just added)?

[2016-04-11 21:16] pllim commented on #161
@astrofrog , okay, I went the "old school" route and added some comments to the PRs that I find desirable to be in the template. Thanks!

[2016-04-11 21:16] #161 closed

[2016-04-11 21:32] pllim opened #162 "Clone into submodule path 'astropy_helpers' failed"
I just want to document this if someone else has the same problem as I did using the template instructions.

This did not work for me because I have SSH set up for `git`:
[code]

So I have to work around it by:
[code]

And then manually edit the hidden `.gitmodules` file to be as below so Travis CI won't fail:
[code]

A side effect of this is that sometimes when I do `git submodule update`, bad th

[2016-04-21 13:57] pllim commented on #162
I *think* this is a problem if you set up SSH for the main repo, and have to use HTTPS for the submodule. Is no one else as convoluted as I am?

[2016-04-25 20:52] pllim opened #164 "Test using egg_info fails when setup_package.py gets fancy"
I am using the template and have `from astropy.extern inport six` in my `packagename/setup_package.py` and Travis CI failed with the following message when the test is using `egg_info`. Is there a fix for this?

[code]

https://travis-ci.org/pllim/synphot/jobs/125673762

[2016-04-28 19:18] pllim commented on #162
So, my solution is to temporarily change the URL in `.gitmodules` to SSH, update/grab `astropy-helpers`, and then change `.gitmodules` back to HTTPS.

[2016-04-28 19:18] #162 closed

[2016-04-29 23:36] weaverba137 opened #165 "Testing affiliated packages that require scipy in Python 3.5"
I'd like to be able to run Travis tests in Python 3.5, but currently there is a package compatibility issue in anaconda that prevents the installation of scipy, which my package requires.

Apologies if this issue is already being tracked elsewhere.

[2016-04-30 06:46] #152 closed

[2016-04-30 07:45] astrofrog commented on #165
@weaverba137 - this should be reported in https://github.com/astropy/ci-helpers - could you open an issue there and also expand on the package incompatibility? (including any relevant logs). Thanks!

[2016-04-30 07:58] astrofrog commented on #151
I see the same issue - investigating

[2016-04-30 08:19] astrofrog commented on #151
I think the issue is that the source files get deleted before the coverage is submitted:

[code]

So it must be a difference in behavior between the temporary file mechanism in Python 2 and 3

[2016-04-30 08:28] astrofrog commented on #151
Ah, the issue is that normally we patch up the paths to not point to the temp files, but this is not working in Python 3 for some reason.

[2016-04-30 08:30] astrofrog commented on #151
Ah well, this would be why:

[code]

Now that we don't use 2to3 in the core, I'll open a PR.

[2016-04-30 08:37] astrofrog commented on #151
Fix in #4822

[2016-04-30 14:37] weaverba137 commented on #165
Issue has moved to astropy/ci-helpers#80.

[2016-04-30 14:37] #165 closed

[2016-05-02 18:19] #151 closed

[2016-05-19 15:05] bsipocz opened #169 "ConfigParser incompatibility with new python 3.5"
We got this reported in astroquery in https://github.com/astropy/astroquery/issues/691, but it's really belongs here to the template.

cc @ViviCoder

[2016-05-25 21:32] pllim commented on #164
Fixed in /spacetelescope/synphot_refactor#82 by using my own `six.py` module.

[2016-05-25 21:32] #164 closed

[2016-05-26 09:07] embray commented on #164
This just means you don't have `astropy.extern` installed.  You would have to make `astropy` a `setup_requires` of synphot if you expect to be able to use it during synphot's build (though if it's just for the `six` module it's not worth it).

[2016-05-26 10:16] astrofrog commented on #164
@pllim - note that ``python setup.py egg_info`` should run without any dependencies installed, so you shouldn't rely on ``six.py`` being available at that point.

[2016-05-26 12:33] pllim commented on #164
Thanks.

[2016-06-01 11:33] MSeifert04 opened #173 "Travis CI - Numpy versions"
I realized that ``conda`` doesn't have current astropy builds for older numpy versions. For example numpy 1.8/1.7 uses astropy 1.0.3, numpy 1.9 uses astropy 1.0.4.

Is there anything one could do except specifying astropy dev as requirement (which slows the tests down significatly) for the test?

[2016-06-01 12:24] bsipocz commented on #173
I think this is not a package-template issue, but a more general ``ci-helpers`` one.

Yes, conda doesn't build packages for all combination of versions.
There is ``astropy-ci-extras`` that hosted some of these unstandard combinations, but it hasn't been updated for a while.

All other options would need to build the package in the CI VM, thus take time. One option e.g. (I think it should work thou

[2016-06-01 14:40] MSeifert04 commented on #173
Sorry I thought this would be a template issue since it's de facto affecting the packages built on this template.

@bsipocz Thank you for the suggestion. I'll give it a try with pip :+1:

[2016-06-02 14:16] bsipocz commented on #173
On the other hand it's very unlikely that using conda anyone would install those combinations ;)

 ``astropy-ci-extras`` is in the conda channel list, so if ever there is a willing volunteer with enough free time on their hands to build these and upload there, they will get used by default.

Let me know whether it works out with pip.

[2016-06-02 14:32] mwcraig commented on #173
I am happy to help get a build repo going for astropy-ci-extras....I just don't think I'll have time to keep up its maintenance.

Thanks,
Matt Craig

On Jun 2, 2016, 9:16 AM -0500, Brigitta Sipocz<notifications@github.com>, wrote:

[2016-06-02 18:20] #169 closed

[2016-06-03 10:16] yeganer opened #175 "unknown configuration value: u'config_dir'"
When updating to astropy v1.1 or greater I get the following error with [tardis](https://github.com/tardis-sn/tardis).
[code]
 Tardis is built upon the package_template. I tried several things to solve this issue but the only thing that worked was redefining `pytest_runtest_setup` which I think is not the best solution. Any idea what we may be causing this? Were there major changes in the package

[2016-06-03 15:56] pllim commented on #175
Your GitHub link appears broken. A full traceback would also be nice. Are you using the new configuration system?

http://docs.astropy.org/en/stable/config/

http://docs.astropy.org/en/stable/config/config_0_4_transition.html

[2016-06-03 17:45] yeganer commented on #175
@pllim Sorry I updated the link. I guess we are using the new configuration system. We are using astropy 1.0.4 in 'production'. When updating to astropy 1.1 we stumbled upon this error.
The line with the error is:
[code]

[2016-06-03 17:54] pllim commented on #175
The tracebacks point to `astropy/tests/pytest_plugins.py`, which is not really in the template, but rather in Astropy core itself. Also, how exactly are you running your tests, i.e., what command do you use?

[2016-06-03 18:00] yeganer commented on #175
I'm using `./setup.py test`.

[2016-06-03 18:20] pllim commented on #175
My hunch is that your `conftest.py` is messed up. In your file, you re-defined `def pytest_*()` functions.

[2016-06-03 18:21] pllim commented on #175
Compare yours with the one in the template, and you can see the difference.

[2016-06-03 18:53] yeganer commented on #175
I thought the same but deleting everything pytest_ related didn't solve the issue.

[2016-06-03 18:59] pllim commented on #175
What version is your pytest? Maybe try update to the latest Astropy and astropy-helpers if you still see problem?

[2016-06-03 19:01] yeganer commented on #175
I think I found the 'bug'. redefining `pytest_addoption` is a bad idea because there the ini option is defined.
What's the recommended way to add pytest optinons?

[2016-06-03 19:12] pllim commented on #175
What options do you need that is not already available?

[2016-06-03 19:14] yeganer commented on #175
We add two options for running extended tests. Without these options a quick test run is preformed. Adding the option enables something like integration tests.

[2016-06-03 19:17] pllim commented on #175
Hmm, not sure about redefining `pytest_addoption` itself. Maybe someone else can comment on that.

Personally, I have used the `@remote_data` decorator on my tests to mark it as "extended", which means they won't run unless I give the `--remote-data` option. Kinda hacky for your case but might be a temporary workaround until someone can suggest something better.

[2016-06-03 19:21] yeganer commented on #175
I actually suggested using `@remote_data` to replace `--atomic-dataset` but with the currently WIP implementation of full integration tests which need a specific config file I don't think that works.

A workaround would be to hardcode the path to the integration_test_config and if it's missing skip the tests. But that would be hacky.

Thank you very much for the help so far. I'll discuss this issu

[2016-06-03 19:25] pllim commented on #175
Another option, maybe, is to move all those tests to a different sub-package. Then you can instruct your test runner to run everything *but* the tests in the sub-package using `-P` option. Something to think about.

[2016-06-03 19:26] yeganer commented on #175
`-P` only runs tests inside a specific module/package?  What's the difference to `--test-path`?

[2016-06-03 19:29] yeganer commented on #175
Another option would be to 'fix' this in astropy by providing something like `PYTEST_HEADER_MODULES` for ini and config options.

[2016-06-03 19:31] pllim commented on #175
Yes.

You can certainly bring this up as an issue, but that would be at https://github.com/astropy/astropy/issues

[2016-06-03 19:35] yeganer commented on #175
Sure, I just asked on gitter how they feel about it. If it's worth doing I'd make an issue and if I have the time and it works the way I currently think about it, I'll make a PR.

[2016-06-05 07:31] yeganer commented on #175
Thanks for the help. I ended up doing the following:
[code]

[2016-06-06 14:26] bsipocz commented on #153
The new release is tagged, so closing.

[2016-06-06 14:26] #153 closed

[2016-06-06 15:21] pllim commented on #175
Great it works out for you. Feel free to close this issue if you think it is no longer a problem.

[2016-06-07 10:47] yeganer commented on #175
Sorry, totally forgot to close it.

[2016-06-07 10:47] #175 closed

[2016-06-15 00:51] MSeifert04 commented on #173
@bsipocz Today conda with numpy 1.9 installed astropy 1.0.1 and I finally decided to test it. And it works if I use something like:

[code]
It takes a bit longer (around 20-30 seconds) to build with pip and it's quite annoying that all packages depending on astropy need to be added to the pip dependencies.

@mwcraig An all conda solution would be amazing but not necessary given that pip works and

[2016-06-16 18:05] mwcraig commented on #173
For astropy itself you are probably right -- it doesn't take that long to build (especially on travis), so if we can avoid building it, great. There may be some python/numpy combinations for which building a numpy package would be handy.

[2016-06-16 18:36] MSeifert04 commented on #173
@mwcraig You mean like building numpy 1.11 for python 3.4 / 3.3?

Does it provide an real advantage? You'd need to build any package against this np111py34 combination as well because not many packages in the main conda/astropy channel are built against this combination.

[2016-06-16 18:56] mwcraig commented on #173
@MSeifert04 Something like that. It is not clear to me what numpy/python combinations we actually intend to support. Astropy supports numpy 1.7 or higher, and python 3.3 or higher (I think), but I don't know if that is intended to imply that all possible combinations of those versions are supported. I tend to think that people using, e.g. python 3.3 have not updated their numpy (or are unable to d

[2016-06-16 22:05] bsipocz commented on #173
@mwcraig - I think we can safely assume that py3.5 doesn't need old numpies.

However it can be very well the case that someone is stuck with py3.3 but has up to date packages installed with ``--user``. E.g. I was one of these people for a long time (either on a server or on my old laptop where python came from fink but the support stopped for that old OS). Anyway I didn't want to mess with the sy

[2016-06-17 10:31] astrofrog commented on #173
I guess the question is whether we trust the Numpy developers for example to make sure that different combinations of Numpy and Python versions work. If we can trust them on that, then if we test affiliated packages with say Numpy 1.8/Python 3.3 and Numpy 1.11/Python 3.5, then maybe that's enough, and we don't need to test e.g. Numpy 1.11/Python 3.3.

In other words, maybe the built-in combination

[2016-06-17 11:33] MSeifert04 commented on #173
if a numpy version has problems with a python version that would require an upstream-fix, so I agree that we don't need to test numpy/python versions. But the problem is that a lot of packages depend on a specific numpy/python version. For example `astropy` and if one build with python 3.3 installs numpy 1.8 and therefore also installs the "most current" astropy 1.0.1 it's getting messy to find ou

[2016-06-27 21:10] cdeil opened #179 "Error with distutils config ConfigParser again"
This issue is related to #169 and #172 .

[code]

Looks like there's also this place where the import has to be fixed:
https://github.com/astropy/package-template/blame/master/docs/conf.py#L44

I think the fix has to be propagated (manually, sigh) to most affiilated packages?
At least I'm seeing the error with `gammapy` and `astroplan` master since today (not sure why this came up now).

cc @astro

[2016-06-27 21:21] bsipocz commented on #179
@astroplan doesn't yet have the template update merged in (https://github.com/astropy/astroplan/pull/177), so I would say this is expected.
Have you updated gammapy? If you want I can open a PR for it.

[2016-06-27 21:33] cdeil commented on #179
@bsipocz This is another issue that's still present in docs/conf.py in Package-template master

[2016-06-27 21:44] bsipocz commented on #179
OK, so this should be fixed with #180.

[2016-06-27 21:50] cdeil commented on #179
It does fail in Setup.py in the other repos.

[2016-06-27 21:58] bsipocz commented on #179
Great, no mysteries then :)

[2016-06-30 18:56] #179 closed

[2016-06-30 21:33] bsipocz commented on #173
I think this can be closed, ``ci-helpers`` now pip installs astropy is a too old version is picked up from conda, and ``astropy-ci-extras`` is also populated with a few old version combinations.

[2016-07-01 05:57] #173 closed

[2016-08-17 19:30] pllim opened #190 "Nuances with pytest-html"
I am trying to use [pytest-html](https://pypi.python.org/pypi/pytest-html) with a package that uses this template (hence, also uses Astropy's test runner). However I cannot seem to pass in `--html=report.html` directly (see below) because the test runner writes `report.html` to a temporary directory that is deleted at the end of the test:

[code]

However, calling `py.test` directly works fine; i.

[2016-08-22 09:58] astrofrog opened #191 "Remove astropy logo and mentions in top bar by default"
By default, when people make a package using this template, the logo in the top left is astropy and there is also a link to astropy further along the right. I think the default logo should actually be empty and we shouldn't force the astropy branding on the logo if one is added. Only the actual astropy docs should say astropy in the top left.

[2016-08-22 12:09] bsipocz commented on #191
@astrofrog - parts of this is already been proposed here: https://github.com/astropy/package-template/pull/182

[2016-08-22 12:13] bsipocz commented on #191
and probably https://github.com/astropy/package-template/pull/163 takes care of the logo?

[2016-08-22 12:38] bsipocz opened #192 "Change template package name"
I think it would be clearer for the docs if we would call the template package directory `package-template` rather than `packagename`.

E.g. the following in https://github.com/astropy/astropy/pull/5251 would be a useful addition, but it doesn't work for `'packagename'` as some of the config files have that as a variable to pick up the name of the package, while at other places it's considered the

[2016-08-22 12:39] astrofrog commented on #191
Yes, #182 does this - and I think we might also want to add a color option so that the logo defaults to all white (to not copy the astropy logo, though of course we can use the astropy 'branding' for affiliated packages).

[2016-08-22 12:44] bsipocz commented on #191
I very much like the idea for affiliates to share the colors of astropy, though I agree that the template should show a way how to change it, or even default to something else while the new package is not yet affiliated.
However I don't know how to change it, and don't have much time to figure it out now.

[2016-08-22 12:50] astrofrog commented on #191
@bsipocz - don't worry about it, I'm sure someone else can do it at some point!

[2016-08-22 12:56] bsipocz commented on #191
@astrofrog - photutils does it in a custom photutils.css file (along with changing the logo), but it would be nice to move those config options into docs/conf.py

[2016-08-23 22:34] dkirkby opened #193 "Typo in travis comment"
The following commented-out line in `.travis.yml` has a typo (astopy should be astropy):

[code]

[2016-08-23 22:51] dkirkby commented on #193
Related to this, I found that I had to use `CONDA_CHANNELS=astropy-ci-extras` in order to get the new tests using `env: ASTROPY_VERSION=lts` to pass.  Otherwise, they fail with mysterious errors about incompatible package versions, e.g.
[code]
(Mysterious because `python 2.7` is missing from the list of versions compatible with `astropy 1.0`).

[2016-08-24 16:25] bsipocz commented on #193
Thanks @dkirkby for spotting the typo. Would you care to open a PR for it or shall I?

[2016-08-24 16:34] bsipocz commented on #193
Indeed. Conda stopped building the 1.0.x branch a while ago, and they don't provide builds with older numpy versions either.

So to help the testing of packages that depends on astropy we build conda packages for more combinations in ``astropy-ci-extras``. I see the point that more documentation would be better. As you have fresh eyes on the issue, maybe you could propose a place for it?

[2016-08-24 16:37] dkirkby commented on #193
I can open the PR but I'm not sure what the changes should be yet: in addition to the typo, I believe that the following should be included in the default (instead of commented out):
[code]
in order to work out-of-the-box with these testing envs:
[code]
Do you agree?

[2016-08-24 16:42] bsipocz commented on #193
OK, sounds reasonable. But if you comment out, maybe it's better to keep the astropy channel there as well (having a commented line, and a default one is more confusing I think.

[2016-08-24 16:51] dkirkby commented on #193
That sounds good (unless adding the unused conda channel would slow down travis tests?)

[2016-08-24 16:58] bsipocz commented on #193
No, it doesn't have any such effect.

[2016-08-24 17:00] dkirkby commented on #193
Regarding the documentation of this package, most people start [here](http://docs.astropy.org/en/stable/development/affiliated-packages.html), but this lives under the astropy package so is separately versioned. I made some template docs suggestions in astropy/astropy#4054 a while ago, which probably got lost among the core pkg issues.

[2016-08-30 16:29] saimn opened #194 "long_description from setup.cfg is not used"
The long description is actually obtained from the package's docstring, so simplest option would be to remove `long_description` from `setup.cfg`.

[2016-08-30 16:34] saimn opened #195 "Don't use 2to3 by default ?"
Now that there are plans to drop Python 2 support, I don't think using 2to3 should be the default option. For Astropy, this also requires that every sub-package has a `setup_package.py` file, just to define `requires_2to3()` and return False. (I didn't see a case where `requires_2to3()` returns True but maybe I missed it).

[2016-08-30 18:39] pllim commented on #195
There is already a PR for this. See #93.

[2016-08-30 19:28] saimn commented on #195
Ah thanks @pllim , I missed that.

[2016-08-30 19:33] pllim commented on #194
But not everyone put the long description there in the package docstring and it would not be fair to force this upon template users? Hmm.

[2016-08-30 19:39] saimn commented on #194
It is not to force users but just to reflect the current state.
I use the README for the long description so I changed the code for my own case. But the point here is that users can be confused because long_description from setup.cfg is not used currently.
Then, maybe some kind of parameter could be added to give different possibilities (from README, or __init__, or setup.cfg).

[2016-08-30 19:40] pllim commented on #194
How about we leave the `long_description` in `setup.cfg` but add a comment that it is not necessary if the description is stored somewhere else? Not sure what is the cleanest approach here.

[2016-08-30 19:49] saimn commented on #194
It is not *used* : https://github.com/astropy/package-template/blob/master/setup.py#L40

[2016-08-30 19:52] pllim commented on #194
I know. I was suggesting that we include option in `setup.py` to actually use it, but also give the other alternatives. Like I said, I am not sure if this is not just further confusing the users.

[2016-08-31 16:06] #195 closed

[2016-09-01 07:52] embray commented on #194
A common idiom is to use `long_description` if it's explicitly provided, but otherwise read the value for `long_description` from the README file.

[2016-09-02 08:01] saimn commented on #194
Yep, I agree it would be a more reasonable than using the root package docstring. But this would be a breaking change for packages that use the template, how a change like this should be handled ?
BTW, I saw yesterday a blog post on pbr, which also use a setup.cfg, with support for more metadata: classifier, keywords, and description-file:
http://docs.openstack.org/developer/pbr/#setup-cfg

[2016-09-28 00:59] dkirkby opened #196 "Slow import of affiliate packages"
The following line in `__init__.py` takes about 500ms on my laptop and dominates the time required to import my affiliated package:

[code]

Could this be streamlined to defer some its work until it is actually needed?

[2016-09-28 01:31] pllim commented on #196
Try profiling it to see exactly where in astropy_init it is the slowest.

[2016-09-28 17:11] dkirkby commented on #196
Thanks for the suggestion.  Here is what I ran:
[code]
The output is:
[code]
Looking at the call graph, I see that the following nested import chain dominates the timing:
[code]
As expected, a profile of `import astropy` looks essentially the same.

[2016-09-28 18:21] pllim commented on #196
It does seem unusual that it is importing `astropy.units` on init. Just guessing here, I wonder if it is because your version string (https://github.com/dkirkby/speclite/blob/master/setup.py#L50) is not PEP 386 compatible (https://www.python.org/dev/peps/pep-0386/#the-new-versioning-algorithm). Any improvement if you change your version to '0.6.dev0'?

[2016-09-28 18:35] dkirkby commented on #196
Changing the version string does not make a difference, but I was following the affiliated pkg instructions, so perhaps there's a separate issue there.

Note that the version stuff only accounts for about 20% of the profile report, and is dominated by the time spent firing up a subprocess to call git and get the current commit hash.

[2016-09-28 18:35] astrofrog commented on #196
@pllim - actually I think that this isn't due to his version string but really just to the fact that importing astropy alone results in astropy.units being imported (due to the console import relying on units). This does seem silly though, I think we should consider making the console stuff not depend on units since the unit conversion is simple.

[2016-09-28 18:39] pllim commented on #196
@astrofrog , ah, okay. But I thought you and @mhvk sped up `units`. I wonder if the import time would improve if @dkirkby uses the `dev` version of Astropy (not sure what version is being used when code was profiled).

[2016-09-28 18:44] dkirkby commented on #196
I used astropy 1.1.1 for the profile above.

[2016-09-28 18:48] pllim commented on #196
Just out of curiousity, if possible, what does the timing look like if you use `dev` version of Astropy?

[2016-09-28 18:55] saimn commented on #196
It should be better with Astropy 1.2, the import is now done only if the logger is used:
https://github.com/astropy/astropy/pull/4649

[2016-09-29 10:33] astrofrog opened #197 "Find a way to provide automated updates to users of the template"
At the moment maintaining a package using the template is no trivial effort (as witnessed by the long instructions at http://docs.astropy.org/en/stable/development/affiliated-packages.html). Over time, it's become a pain to try and make sure all packages are up-to-date with the package template, and there is still a lot of repetition of code across packages, and I find myself doing the same tasks

[2016-09-29 10:46] astrofrog commented on #192
I don't think we should call the template package ``package-template`` because then there's the ambiguity of having to use ``-`` or ``_`` depending on context. However, we could consider other names that don't include a ``-``?

[2016-09-29 10:47] astrofrog commented on #197
For the initial set-up for new packages, it would also make sense to provide a simple script like ``sphinx-quickstart`` that asks the user questions and sets up the files accordingly. This would simplify the instructions hugely.

[2016-09-29 12:57] adrn commented on #197
I like the idea of a quickstart-like setup script!

I'm not sure how I feel about having a file that allows opting in/out of updates -- will have to think a bit about that and the other suggestions!

I like the idea of having a hangout to discuss, but only after I can digest some ideas.

[2016-09-29 14:09] bsipocz commented on #192
Sure, my only agenda is to find something that is not ``'packagename'``. Or vice-versa, use something else in the docs than ``'packagename'`` and then it can remain the name of the template package.

[2016-09-30 07:48] saimn commented on #197
The `sphinx-quickstart` like script could be easily done with something like https://github.com/audreyr/cookiecutter : it uses jinja templates and will ask the needed values (with default values, and support for the activation of optional functionality).
Updating the template is more tricky, as it is difficult to be sure that the files have not been modified.

[2016-09-30 13:46] pllim commented on #197
Quick start is fine, but I am :-1: on auto update. I wouldn't trust it not to undo my customization.

[2016-09-30 13:50] astrofrog commented on #197
Just to be clear, what I'm suggesting is that some files should ideally not have any customization and therefore could be auto-updated - the bottom line is that for many of my packages I know I just want to use standard infrastructure files with no customization, and would appreciate to receive a PR with the updates to those files. But I understand that some people might want to customize some of

[2016-11-23 18:28] bmorris3 opened #204 "New Read the Docs files not mentioned in tutorial"
Currently the [package template tutorial](http://docs.astropy.org/en/latest/development/affiliated-packages.html) doesn't reflect the newish Read the Docs files which must be included in new packages in order to build documentation. These files which need to be added to the tutorial are `.rtd-environment.yml` and `readthedocs.yml`.

[2016-11-24 14:04] bsipocz opened #205 "Pick up only released versions for new packages"
We need to at least document that new packages should aim to start off with a released version of the package template, as well as astropy-helpers.
It wouldn't of course prevent bugs, but those are probably a better tested and synchronized with each other than the dev versions.

Maybe there will be an easier way with the new cookiecutter approach?

cc @Cadair @astrofrog

[2016-11-24 14:44] Cadair commented on #205
with cookiecutter the easiest way to do this would be to have master be "released" and do dev on other branches.

(I am assuming it has to be "master" rather than the default branch, but I could be wrong)

[2016-11-24 15:19] bsipocz commented on #205
Wouldn't it be possible to link a release tag to it instead that we update each time a doing a new release? It's a rather uncomfortable idea of doing dev on non-master, but the decision is not up to me.

[2016-11-24 15:24] Cadair commented on #205
So cookiecutter by default uses whatever you get when you do a plain clone. https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/vcs.py#L125

you can specify other branches (presumably tags) by using the `-c` option.

[2016-11-26 11:46] astrofrog opened #209 "Check whether setup_requires really needs to be defined"
If so, setup_requires should include Cython if the package includes Cython code and the current version is a developer version. See https://github.com/astropy/package-template/pull/131 for a discussion of this.

A better solution might be to simply populate setup_requires in setup.py based on which extensions are being passed to setup.py. I'll work on a PR for that to see if it works. Or we can ju

[2016-11-26 15:46] astrofrog opened #210 "Add tests_require to setup.cfg and setup.py"
This could be done similarly to https://github.com/astropy/package-template/pull/208, but we should make sure it actually works (in a few simple experiments, I found that while the eggs do get created, the dependencies are not seen by the test process).

[2016-11-28 16:41] cmccully commented on #209
Also, numpy often has to be installed before setup if you are using Cython as it often has to tell the c compiler where to find the numpy include files.

[2016-11-29 09:07] #204 closed

[2016-11-29 09:47] astrofrog commented on #192
I think changing the docs would be preferable to changing the actual template, since it will cause some fun when merging in the changes to existing packages.

[2016-11-29 14:56] bsipocz commented on #192
OK, then I'll go ahead and change the docs to use ``yourpackagename`` rather than ``packagename``.

[2016-12-24 00:20] bsipocz opened #214 "Revise template CI files"
The current travis template could be further optimized to have less builds but with the same coverage of dependency version.
Also python 3.5 (or 3.6) should be made the default rather than 2.7 all both the docs and coverage is working fine on them.

[2017-01-04 18:38] #194 closed

[2017-01-17 12:53] bsipocz commented on #196
@dkirkby - Could we close this? As @saimn said above astropy 1.2 has a significant improvement on import time, and other similar bottlenecks could possibly fixed in upstream, too.

[2017-01-17 12:55] bsipocz commented on #193
Closing as this got fixed with various PRs here.

[2017-01-17 12:55] #193 closed

[2017-01-17 13:59] bsipocz commented on #145
@eteq - These changes should go into ``_astropy_init.py``, don't they?

[2017-01-17 14:47] dkirkby commented on #196
I just repeated the profile above with astropy 1.2.1 and it is much faster (great!) so I am happy to close this now.

[2017-01-17 14:47] #196 closed

[2017-01-17 15:04] bsipocz commented on #160
Closing as I think astropy/astropy#4754 addresses this. Please feel free to reopen if you think more docs is needed.

[2017-01-17 15:04] #160 closed

[2017-01-20 01:40] #214 closed

[2017-03-06 17:18] bsipocz commented on #192
Closing as this becomes obsolete with cookiecutter.

[2017-03-06 17:18] #192 closed

[2017-03-10 22:49] andamian opened #223 "package-template introduces a dependency on astropy"
There is a dependency on astropy when using the package-template:

"File "mypackage/__init__.py", line 10, in
from ._astropy_init import *
File "mypackage/_astropy_init.py", line 118, in
from astropy.config.configuration import (
ImportError: No module named astropy.config.configuration

In my project, I've patched it by moving the import from line 118 down to just before it's being used (line 130

[2017-03-11 00:17] bsipocz commented on #223
This may be partly be addressed by the cookiecutter and when/if we factor out the test runner from core, otherwise it probably affects only a very small number of non affiliated packages.

This I probably won't have any time to work on this, as would classify it as a low-priority issue, but needless to say that anyone wants to work on it is more than welcome to do so.

[2017-03-21 16:00] weaverba137 opened #225 "Why doesn't the package template include a pip-requirements file?"
The main astropy package includes a pip-requirements file, but package-template doesn't.  Without such a file how do affiliated packages install their dependencies?  Also, how does dependency information get passed to conda?

[2017-03-21 16:06] bsipocz commented on #225
afaik conda understands setup.py, e.g. the section ``install_requires`` lists dependencies.

[2017-03-21 16:27] weaverba137 commented on #225
OK, here's a potential bug then:  In the current setup.cfg file, `install_requires = astropy` gets converted into `['astropy']` in the setup.py file.  But it doesn't say that additional dependencies have to be *space* separated.  That is `install_requires = astropy scipy matplotlib` will work, but `install_requires = astropy,scipy,matplotlib` will not.  The specific line in setup.py is:

[code]

[2017-03-21 16:33] bsipocz commented on #225
Good point. I think I would prefer ``setup.cfg`` to have ``install_requires`` in the same list format as ``setup.py`` requires.
Would you care to open a PR for this?

[2017-03-21 16:35] bsipocz commented on #225
(The long term idea is to move all editable parts of setup.py to the config file to easy a bit of the maintenance/update burden for package maintainers).

[2017-03-21 16:36] weaverba137 commented on #225
Sure, but by "same list format" do you just mean commas, or something more explicit like:

[code]

[2017-03-21 21:07] saimn commented on #225
It looks a bit weird to have a Python list inside a text config file (whose goal to have simpler syntax imo). Why not a comma-separated list ? It seems the most intuitive.

[2017-03-22 18:26] bsipocz commented on #225
@saimn - I thought it's the least ambiguous option, as noted above, the original setup expected a space separated list.
However none of the 100+ packages I have a local copy use this option yet, so we can still choose the expected format and I'm happy to have whichever more people like.

@eteq @adrn @astrofrog - Do you have any preferences?

[2017-03-22 18:41] astrofrog commented on #225
Isn't there a standard for config files? (if parsed by e.g. configobj). I imagine it would be comma-separated but without square brackets?

[2017-03-22 20:22] bsipocz commented on #225
OK, then it's pretty clear that originally we have a bug, and the list should be a coma separated list as @saimn suggested.

http://configobj.readthedocs.io/en/latest/configobj.html#the-config-file-format

Could you @weaverba137 update the PR accordingly, please?

[2017-03-22 20:27] weaverba137 commented on #225
Ah, let's not get too hasty here.  The config.cfg file is parsed by configparser, not configobj.

[2017-03-23 09:43] saimn commented on #225
Yep, configobj is not the same thing as configparser. configparser is in the standard library, but basically it does not try to parse values.  So, you can choose the format that seems the best:

- space-separated is actually not so bad, maybe it just needs to be better documented (with a comment in the example setup.cfg ?) + it avoids to break compatibility
- comma-separated,
- another possibility

[2017-03-23 17:06] weaverba137 commented on #225
OK, in the interest of moving ahead here, can we shift this discussion over to the specific changes proposed in #226?  I will note here that @saimn's first suggestion above, a space-separated list, would be the absolute minimal change, and would require no changes to the existing setup.py file at all.  If more people favor that, please comment on #226.

[2017-03-28 15:58] Cadair opened #227 "Add a "support LTS" option in the cookiecutter.json"
This would allow us to move parts of the template faster to support changes that are not in the LTS.

see #211

[2017-03-30 12:21] bsipocz opened #229 "Revise license file location and readme content"
Once the method of updating the template is settled down, we may want to revise the licence locations, etc.

[2017-03-30 18:51] cdeil opened #230 "git import error with cookiecutter"
@Cadair - I just saw that the cookiecutter branch is already merged and wanted to try it.

Unfortunately it failed after I entered all info:
[code]

Maybe move the `from git import Repo` to the top of the file to fail early?

[2017-03-30 19:00] cdeil commented on #230
With
[code]
the files seem to get scaffolded OK.

---

An unrelated question I guess: we already have a repo at https://github.com/tboch/hips and I'd like to scaffold the package-template there. Is it possible with one command?
(i.e. scaffold the files in that repo, not create a new sub-folder)
Or should I copy the files over manually to the existing repo, and then re-do the astropy-helpers sub-mo

[2017-03-30 21:35] Cadair commented on #230
@cdeil the git thing is on my to do list, I will make it so it won't init the repo if it's not installed.

I am not sure I fully get what you mean but you can set output dir using cookiecutter, but I think it will always create a top level dir. There is a switch to turn off git init if needs be.

[2017-03-31 07:02] cdeil commented on #230
The situation we have is the:
- there is an existing repo (mostly empty, but with some notes and files)
- I want to scaffold the template into that repo (and add it via a new commit)

I guess there is no single cookiecutter command to do that?
I.e. not make a new git repo, but just scaffold the files and add astropy-helpers as a git submodule to an existing git repo.

If I add the astropy-helpers

[2017-04-19 21:56] jcfr commented on #15
Having faced this issue in a different context, the issue was most likely caused by the fact the installation of `setuptools` was done from its source tree available on https://github.com/pypa/setuptools and was **NOT** `bootstrapped` before being installed.

More details here https://github.com/serge-sans-paille/pythran/issues/489#issuecomment-295459022

[2017-05-10 13:23] bsipocz opened #238 "Keep appveyor testing for the template content"
Currently appveyor is not running for the content of the template. Ideally we want to have some minimal stuff running there, too.

[2017-05-11 09:15] Cadair commented on #238
👍

[2017-05-11 13:35] Cadair opened #243 "Year in Licence should be auto-filled by cookiecutter"

[2017-05-11 14:13] bsipocz commented on #243
This is ``template`` label.

[2017-05-26 09:44] cdeil commented on #230
Just for reference, this is what I did for the new `hips` package: https://github.com/hipspy/hips/pull/1

In the end to work around the problem described in my last comment I did use `cookiecutter gh:astropy/package-template --checkout cookiecutter` to scaffold the files into a folder `hips` from within the existing `hips` repo. And then I moved the files up one level to be in the right place.

[2017-05-27 20:44] aphearin opened #244 "Getting-Started page refers to now-non-existent MANIFEST.in"
The extremely useful and clearly written http://docs.astropy.org/en/stable/development/affiliated-packages.html page appears to have fallen slightly behind development. Step 3 of the **Managing the template files manually** section has the following instructions, which appear to no longer be relevant:

[code]

[2017-05-27 20:48] bsipocz commented on #244
@aphearin - The default branch has been changed to ``cookiecutter``, it is not supposed to be used directly. You can get the old pre-cookiecutter version if you change back to ``master``, or I assume the ``rendered`` branch has the now updated things, though I'm not sure what opt-ins it was rendered.

cc @Cadair - we need to wrap up the cookiecutter docs at some point...

[2017-05-27 20:54] aphearin commented on #244
Ahh, I see. This is the first time I noticed the `cookiecutter` migration in action.

FYI: I now use the astropy package-template for every scientific project I work on that has reached a mature stage. I would start using the `cookiecutter` machinery as soon as the documentation becomes available, but for now I will change back to `master` due purely to the fact that the documentation for the new

[2017-05-27 20:54] #244 closed

[2017-05-29 10:55] astrofrog opened #245 "Show how to extend intersphinx_mapping"
We should add a commented-out example in docs/conf.py to show how to extend intersphinx_mapping

[2017-05-31 18:40] eteq opened #248 "cookiecutter license is always 3-clause BSD (but inconsistent w/setup.cfg)"
Right now, if I do cookiecutter as-is, I'm given an option of licenses, but the ``license/LICENSE.rst`` file is *always* the 3-clause BSD.  (It also has "Astropy Team" in the middle of it, which is certainly wrong, although probably just requires a one-line fix).  So if I choose "GNU GPL", the metadata says it's GPL, but the LICENSE file does *not*.

I don't know cookiecutter enough to fix this.

[2017-05-31 19:03] eteq opened #250 "parent project is sunpy in travis build"
@Cadair - I noticed the following in the `.travis.yml`:
[code]

Is that a left-over from somewhere?  That is, should that be astropy, or absent entirely?

[2017-05-31 19:06] bsipocz commented on #250
What is this ``EXTRA_CONTEXT`` btw, I haven't found any mention of it in the travis docs.

[2017-05-31 19:55] eteq commented on #250
@astrofrog might know too?

[2017-05-31 19:56] eteq commented on #248
(Note this is *not* the same as #243, as that's about the year rather than the license itself)

[2017-06-01 10:21] Cadair commented on #250
`EXTRA_CONTENT` is the way I am setting options to cookiecutter for Travis. (i.e. overriding options the user can change) see: https://cookiecutter.readthedocs.io/en/0.9.1/advanced_usage.html#injecting-extra-context

the specific `_parent_project=sunpy` flag is to test that the package template renders if the hidden (not asked to the user) option is changed. (SunPy will be using it).

[2017-06-01 10:22] Cadair commented on #248
Yes, I knew about this but hadn't opened an issue. It should be easy enough to fix in a post-render hook.

[2017-06-01 10:27] Cadair opened #251 "ah_bootstrap.py should be copied from the astropy_helpers submodule"
At the moment the version of `ah_bootstrap.py` does not change with the version of the `astropy_helpers` submodule. this is bad.

[2017-06-01 10:48] bsipocz commented on #250
Nice trick, thanks for the explanation @Cadair!

[2017-06-01 10:52] astrofrog commented on #250
I think this warrants a comment in .travis.yml, so I'm going to re-open this

[2017-06-01 11:15] bsipocz opened #253 "Rendered branch should have astropy-helpers"
The current ``rendered`` branch example doesn't have astropy-helpers as a git submodule, that should be fixed. See discussion in #247.

#252 is also related.

[2017-06-01 11:21] Cadair commented on #253
hmmm, this looks like it could be a pain to extract the version of astropy_helpers out of the cookiecutter config. If we just want to add the submodule manually in the `travis_deploy.sh` script it should be ok.

[2017-06-01 11:23] #250 closed

[2017-06-03 21:16] aphearin opened #256 "Initial build of package fails upon first attempt, succeeds on second build"
I am using the `package-template` to organize a package I am developing to read, write and analyze large volumes of simulated cosmological data - [umachine_pyio](https://github.com/aphearin/umachine_pyio). After cloning this repo, I find that the first attempt I make build/install the package fails with the Traceback shown below. However, simply calling `python setup.py build` once again in succes

[2017-06-03 21:43] bsipocz commented on #256
This is the same issue as https://github.com/astropy/astropy-helpers/issues/302, and is a blocker for v2.0 of ``astropy-helpers`` and thus astropy.

Workaround: I would suggest to uninstall the standalone typing package (and downgrade sphinx to <1.6, as it's a dependency for that).

[2017-06-03 22:04] aphearin commented on #256
Ok, thanks for the pointer @bsipocz - no need to leave this issue open then.

[2017-06-03 22:04] #256 closed

[2017-06-04 09:48] #251 closed

[2017-06-08 20:59] hamogu opened #258 "missing ah_bootstrap.py"
I used cookiecutter to get the template, but the ah_bootstrap.py seems to be missing (it's required in line 4 of the setup.py)

[2017-06-08 21:05] hamogu commented on #258
No. I added astropy_helpers manually. I don't think I have gitpython installed ... is that listed in the requirements? If it is in fact required, I suggest throwing an error if it's not available.

[2017-06-08 21:12] bsipocz commented on #258
@Cadair - ah is not added in the rendered version either, so we should indeed list it some requirement file

[2017-06-08 21:41] Cadair commented on #258
It wont help the rendered version because of the way I copy the files into the repo to maintain history.

We need the install instructions to say you need gitpython.

[2017-06-17 21:47] weaverba137 commented on #111
Our group is still being periodically bitten by this bug.  Has anything turned up or changed with regards to this?

[2017-06-19 15:25] pllim commented on #111
Any answers from the bitbucket links above? I clicked on them but then they asked me to create an account and then said my account info is wrong, then I gave up.

[2017-06-19 15:37] bsipocz commented on #111
@pllim - I believe ``setuptools`` also moved to github, so no wonder the bitbucket links are not working any more.

[2017-06-19 16:26] pllim commented on #111
Unfortunately, I don't think they transferred old issues over from bitbucket. I can't find issue titled "scripts are re-installed when packages are" 😞

[2017-06-19 21:09] saimn commented on #111
https://github.com/pypa/setuptools/issues/371 (and with the same number :wink: )

[2017-07-05 22:34] bsipocz commented on #229
Also, don't forget to include the license file in MANIFEST

[2017-08-07 18:24] pllim opened #262 "Does setup.cfg propagate all metadata to PyPi?"
As found in ejeschke/ginga#539 using an older template, some `[metadata]` in `setup.cfg` does not show up in PyPi. People using this new "cookie cutter" template *and* distributing package on PyPi should note if any metadata is missing and move them back to `setup.py`.

I guess the easiest way is to compare with Astropy's own metadata, e.g. https://pypi.python.org/pypi/astropy/2.0.1 . However, Ast

[2017-08-11 18:18] eteq commented on #258
@bsipocz @Cadair - clarify for me here: are you saying `ah_boostrap.py` should *not* be in the rendered branch?  Remeber that this will also be used for helpers users to *maintain* their package.  Doesn't that mean it has to be there so that they can download it whenever the boostrap script is changed?

[2017-08-11 18:20] bsipocz commented on #258
I think it **should be** in the rendered branch, but it's not there atm which is a bug. We also need to do something with "master", e.g. rename it to legacy or something...

[2017-08-11 18:22] eteq commented on #258
Ah, ok.  @Cadair, it sounds like you know what the problem is?  Any chance you can just do a quick fix or at least give a hint as to what the oddness is in the "way I copy files into the repo"?

(will make a separate issue re "master")

[2017-08-11 18:24] eteq commented on #258
(To be clear, this is a pretty major hurdle for those wanting to use it, so high priority... If you don't know what the helpers are or what bootstrapping is, you're almost certainly out of luck!)

[2017-08-11 18:45] eteq opened #263 "Change "master" branch name?"
As pointed out in https://github.com/astropy/package-template/issues/258#issuecomment-321884404, "master" is now a rather confusing name post-cookiecutter.  I like @bsipocz's suggestion of "legacy".  If others agree I can go ahead and just change the name.

[2017-08-11 18:57] bsipocz commented on #263
Ideally we need to update the docs in astropy core to change the reference from 'master' to the 'rendered' branch.

[2017-09-20 05:11] pllim opened #264 "Drop Python 2 support"
Along with astropy/astropy#6556 and astropy/astropy-helpers#337

The reasoning is that if someone is using this template to create a new package at this point, it would probably depend on Astropy 3, which does not support Python 2 anyway.

[2017-09-20 11:16] bsipocz commented on #264
Million 👍 to this, as I see this change is to be that we don't actively encourage usage of python2 after astropy3.0. That said, anyone wanting to still use it can add things back to their package infrastructure.

[2017-09-20 11:16] bsipocz commented on #264
(That said, it's still an issue how to help current packages to have a smooth transition.)

[2017-09-24 12:54] aphearin opened #265 "`UnicodeDecodeError` during initial setup of new package"
I just tried to start a new package using the `cookiecutter gh:astropy/package-template` and I get the following Traceback:

[code]

My system info appears below:
[code]

[2017-09-24 13:09] aphearin commented on #265
In case python 2 is the problem, I have tried again within a python 3 conda environment and I get the same error

[2017-09-24 19:03] aphearin commented on #265
After rerunning once again, I can now successfully create a new package. This new run triggered the prompt, `You've cloned /Users/aphearin/.cookiecutters/package-template before. Is it okay to delete and re-clone it? [yes]:`. I chose `yes`and proceeded without problems. This message was not triggered following the commands that led to my raising this Issue. So whatever led to the exception seems t

[2017-09-25 14:15] astrofrog commented on #264
I think this should be a cookiecutter option rather than completely removing support.

[2017-09-29 20:16] weaverba137 commented on #225
Closed by #226.

[2017-09-29 20:16] #225 closed

[2017-09-30 17:00] astrofrog opened #266 "Default version number should be 0.0.dev0"
The 0 suffix is missing from the dev version (in setup.cfg and setup.py)

[2017-09-30 17:01] astrofrog opened #267 "__init__ should not say 'this is an affiliated package'"
Currently the default ``__init__`` says 'This is an Astropy affiliated package' which is not necessarily true. We should remove this since it'll probably be more often wrong than right.

[2017-09-30 17:51] astrofrog opened #268 "Support cases where module name is not package name"
For packages with a hyphen the module name should have a _. It should be possible to set both separately in the ``setup.cfg``. This matters for ``setup.py`` and ``conf.py``.

[2017-10-03 00:02] dkirkby opened #271 "Travis test matrix updates"
The current travis config has a few issues:

[code]
This combination is no longer supported (which is related to #264).

[code]
This combination results in `Prerelease for numpy is not available, stopping test`.

[code]
For reasons that I don't understand, this combination never installs numpy 1.7 and instead runs with numpy 1.13.

[2017-10-03 00:16] bsipocz commented on #271
Thanks @dkirkby for the issue. I'm in the process of updating the matrix, but in the meantime the summary:

1) yes, astropy dev is no longer support 2.7, so that job will be removed. I also plan to open at some point an issue for all repositories on github that still uses that combination. Possibly it can be done in an automated PR but that needs some more time to get work properly.

2) Yes, while

[2017-10-03 00:21] dkirkby commented on #271
As far as the test matrix is concerned, dropping numpy 1.7 sounds like the solution.  More generally, it would be helpful if the conda install fails if it detects an incompatible dependency, rather than falling back to a pip install (or are there situations when this behavior is needed?)

[2017-10-03 00:27] bsipocz commented on #271
As a workaround for the moment, you can use ``PIP_FALLBACK=false`` to switch off the pip fallback. We are considering to also changing the default to this behaviour as it sadly caused many problems while solved only a few.

[2017-10-03 12:51] bsipocz commented on #265
@Cadair - could you have a look at this? is there anything we could document from the process, or do with the template to make this smoother?

[2017-10-03 13:18] Cadair commented on #265
My first reaction on this is that it's a cookiecutter bug.

However: `if 'not found' in clone_error.output.lower():` indicates it's something that's coming out of a failing clone.

Still, I think that the error is cookiecutter not handling it properly.

[2017-10-03 13:54] aphearin commented on #265
I have not had any problems since then, and I've started other projects using the template since then. It's possible this was just an obscure user config issue. I'll revisit and see if I can reproduce it.

[2017-10-03 17:20] #266 closed

[2017-10-03 17:20] bsipocz commented on #266
addressed by #275

[2017-10-03 17:22] bsipocz commented on #271
OK, so master as been updated and cleaned up by the trivially failing jobs. For the pip fallback there are issues open already in ci-helpers, so I'm closing this here.

Please reopen if you think otherwise, and also feel free to open issues for any inconsistencies/bugs in ci-helpers or here.

[2017-10-03 17:22] #271 closed

[2017-10-03 17:22] bsipocz commented on #267
Addressed by #273

[2017-10-03 17:22] #267 closed

[2017-10-03 17:24] bsipocz commented on #263
This issues is now postponed as master is the default branch again. Revisit once we're back at cookiecutter.

[2017-10-03 17:24] #263 closed

[2017-10-03 17:42] dkirkby commented on #271
Two possibly related issues:
 - NUMPY_VERSION=stable is resolving to numpy 1.13 but (until recently) the matrix only covers up to 1.11
 - ASTROPY_VERSION=stable is resolving to 2.0.2, for which conda install fails so it always falls back to a pip install.  Shouldn't the stable version always be conda installable?

[2017-10-03 18:29] bsipocz commented on #271
Thanks @dkirkby for pointing these out:

- Indeed the 2.0.2 version on the ``default`` conda channel is somehow broken. This is beyond our control, and I have opened an upstream issue for it: https://github.com/conda/conda/issues/6069
It only affects the linux builds, and the version on the ``conda-forge`` channel can be installed without issues.

I'm adding one more build for np 1.12 to the matri

[2017-10-03 18:45] dkirkby commented on #271
I am still stuck with one mystery in my travis tests: an affiliated pkg (specsim) is failing on:
[code]
when it pip installs another affiliated pkg (speclite).  Here is the [log](https://travis-ci.org/desihub/specsim/jobs/282525384).  The actual error is an infinite recursion triggered by:
[code]
However, the `build_doc -w` test for speclite itself passes with [no problem](https://travis-ci.org/dk

[2017-10-03 18:49] bsipocz commented on #271
Your ``astropy-helpers`` is very old. To be able to use sphinx >1.6, you'll need to have the astropy-helpers >=2.0

We do automated helpers update PRs for affiliated and a few other packages that opted in. I'm happy to add any of your packages to that list for future updates.

[2017-10-03 19:00] dkirkby commented on #271
I believe I am using astropy-helpers v2.0.1, so I don't know why v1.0.7 appears in that path!
[code]
This is the correct [commit id for v2.0.1](https://github.com/astropy/astropy-helpers/commit/14ca346b0da3e92e65bdc398cc8f726cbd7be57d).

Perhaps the `git submodule update` command is not called when the speclite dependency is (pip) installed for the `build_doc` target?

[2017-10-03 19:01] dkirkby commented on #271
Note that the `build_doc` (and all other) tests work fine for speclite itself.  The only failure is when speclite is installed as part of the `build_doc` test for a package (specsim) that depends on speclite.

[2017-10-03 19:05] dkirkby commented on #271
Yes please!  The packages are:
 - https://github.com/desihub/specsim
 - https://github.com/dkirkby/speclite

[2017-10-03 19:06] bsipocz commented on #271
Hmm this is odd, I'll try to reproduce the failure locally and will comment back on it.

[2017-10-03 19:48] bsipocz commented on #271
@dkirkby - while I'm not yet sure why that 1.0.7 version number showed up in there, I hope I've found the issue. It looks like that while the helpers submodule got updated, ``ah_bootstrap`` not. I've opened PRs to those repos.

[2017-10-03 21:35] dkirkby commented on #271
Thanks @bsipocz!

[2017-10-04 03:00] aphearin commented on #265
Ok, I gave another try to making a new package and hit a different snag.

[code]

In case the `.cookiecutters` directory had become corrupted somehow, I blew it away and tried again but got the same message.

I just checked `master` and noticed that development seems to be wandering ahead of the `cookiecutter` branch. Are y'all moving away from this way of doing things?

[2017-10-04 05:15] Cadair commented on #265
This is probably because the default branch has swapped back to not-cookiecutter.

You need to specify `-b cookicutter`

On 4 October 2017 04:00:54 BST, Andrew Hearin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-04 11:32] bsipocz commented on #265
Sorry about this @aphearin. The cookiecutter branch is turned out to be still experimental and need more docs before shipping it to the wider audience and we changed the default branch back to master.
Thus any feedback of using it is very valuable.

[2017-10-04 15:16] aphearin commented on #265
Not a problem @bsipocz. I'm happy to provide feedback and also write some documentation. I built several different packages using the cookiecutter branch and was quite happy with the behavior. I would be perfectly happy to proceed if I were able to get `-b cookiecutter` to work as suggested by @Cadair, but this results in `Error: no such option: -b`.

[2017-10-06 14:45] Cadair commented on #265
My mistake it's `-c cookiecutter`.

[2017-10-13 08:26] fockez opened #278 "Template generation error."
When I using
cookiecutter gh:astropy/package-template
I met the the error below:

A valid repository for "https://github.com/astropy/package-template.git" could not be found in the following locations: /home/fox/.cookiecutters/package-template

seems that it's about the cookiecutter.json file.

[2017-10-13 08:40] fockez commented on #278
cookiecutter gh:astropy/package-template --checkout cookiecutter

[2017-10-13 08:40] #278 closed

[2017-10-13 21:33] bsipocz opened #279 "Update travis template to use build stages"
We should promote the build stages via this package as a way to optimize CI usage.

[2017-11-21 21:29] drdavella opened #283 "Update entry point configuration to be more general"
Currently `setup.cfg` can only be used to configure entry points for `console_scripts`. However, packages may also want to configure other entry points in `setup.cfg`, which is not currently supported. This might be difficult to do without breaking compatibility with the current scheme.

This is particularly relevant to the discussion in https://github.com/astropy/astropy/issues/6623, and also to

[2017-11-24 14:21] tcassanelli opened #284 "plot with data in package"
I'm having problems with the docs. What I need to do is to generate a plot from a source file, stored in my package, `example0.fits`, so far what I can do is to read the file, in some environments, unfortunately if I want to plot it I cannot :confused:

What I'm doing to import the file is the following (writing in .rst)
[code]

and it works, reading and handling data in the `>>>` environment isn'

[2017-11-29 10:52] Cadair commented on #265
This was fixed in audreyr/cookiecutter#905

[2017-11-29 10:52] #265 closed

[2017-12-11 16:16] Cadair opened #289 "At the end of the cookiecutter run it should print the path to the rendered folder"
Just to make it nice and obvious to the user where they should look for the results.

[2017-12-19 14:10] adrn opened #291 "Fix link in README"
The link to "Detailed instructions for using this template" is broken.

[2017-12-19 14:51] Cadair commented on #291
on master?

[2017-12-19 14:57] adrn commented on #291
Yes

[2017-12-28 14:26] 7ayushgupta commented on #291
Fixed the link :smile:

[2018-01-14 02:02] bmorris3 opened #293 "Missing "builtins"?"
I'm trying get ReadTheDocs to build successfully for a package built with the package template ([`libra`](https://github.com/bmorris3/libra)), and I'm [consistently getting this error](https://readthedocs.org/projects/libra/builds/6553597/) at the `python setup.py install --force` stage

[code]

Does this look familiar to anyone?

[2018-01-14 11:41] crawfordsm commented on #293
I just ran into this week -- builtins is python 3 only.   So are you building under python 2?  I needed the package to work on python 2 in order to support a legacy system, so what I did was used an older version of astropy_helpers in the software.

[2018-01-14 12:37] astrofrog commented on #293
astropy-helpers 3.0rc1 is Python-3 only and is getting picked up if the submodule is not getting checked out - maybe RTD is not checking out the submodule? I think the proper fix is to update ah_bootstrap so that it doesn't update to astropy-helpers 3.x when using Python 2. Discussion here: https://github.com/astropy/astropy-helpers/issues/359

[2018-01-14 12:37] astrofrog commented on #293
In terms of short term solutions, you might be able to add ``astropy-helpers<3`` to the ``.rtd-requirements.yml`` file, or start building your docs with Python 3.

[2018-01-15 15:00] bsipocz commented on #293
While it's a real helpers issue as @astrofrog mentions above, would that be possible to use python3 for the rtd build even if the package supports python2? Or are these python2 only packages?

[2018-01-16 01:27] bmorris3 commented on #293
I solved this for my package by adding the following dependency to my `.rtd-environment.yml` file:
[code]
I found that 3.5 and 3.6 each have separate issues presently.

[2018-01-16 01:27] #293 closed

[2018-01-22 04:32] adrn commented on #291
@7ayushgupta the link should be: http://docs.astropy.org/en/latest/development/astropy-package-template.html

[2018-01-24 16:00] #291 closed

[2018-01-24 17:49] pllim opened #295 "Add code of conduct"
As discussed with @bsipocz , package template should have a "code of conduct" document. Perhaps we can just insert Astropy's in the template with opt-out option for "cookie cutter".

[2018-02-15 10:24] #253 closed

[2018-02-15 10:24] #258 closed

[2018-02-21 10:15] astrofrog opened #298 "Update conf.py to use sphinx-astropy"
Now that https://github.com/astropy/astropy-helpers/pull/368 is merged, we should update conf.py to use sphinx-astropy for the docs.

[2018-03-09 15:22] tcassanelli opened #300 "UnsatisfiableError (numpy & matplotlib)"
There is a new issue will trying to compile the docs on travis. The error is the following,
[code]
Looked around and it seems like it is a conda problem. I tested several configurations between matplotlib and numpy versions with no success 🙁.
Perhaps is related to this issue in the [astropy/ci-helpers](https://github.com/astropy/ci-helpers/issues/166).
You can see my output log files [here](https:

[2018-03-27 23:22] crawfordsm opened #303 "branches of astropy-helpers in cookiecoutter.json"
@bsipocz mentioned in #286 about astropy-helpers in cookiecutter.json:

We may want to branch this to be v3.0 or 2.0.4 depending whether the users package is python3 only or not.

[2018-04-05 19:54] SaOgaz opened #304 "cookie-cutter wants local copy of ah_bootstrap to install my package."
Hi,

I was testing out the new cookie-cutter version of the template package, using the following version:
``cookiecutter gh:astropy/package-template --checkout cookiecutter``

Answered the astropy-helpers question like so (I realize now this is probably not a valid answer):
``astropy_helpers_version [v2.0.2]: n``

Now's the part I'm not sure about, at some point something installed astropy_helper

[2018-04-05 20:02] bsipocz commented on #304
@SaraOgaz - I'll look into this either tonight or tomorrow. But first though, there is no scenario when you need astropy-helpers installed into your environment. I don't think it would mess up anything, but better not giving it a chance.

[2018-04-05 20:04] SaraOgaz commented on #304
@bsipocz yeah, I reeeaaally don't remember how I ended up with an install of it... I don't remember installing it myself but this environment's been through the wringer with me trying to get stuff working, so who knows.

[2018-04-05 21:15] bsipocz commented on #300
Please try to remove numpy from your `CONDA_DEPENDENCIES` list, it's a known limitation with the current setup. https://github.com/astropy/ci-helpers/issues/284

[2018-04-06 09:38] bsipocz opened #305 "Clean up default values of cookiecutter"
We shouldn't add too astropy specific default for the cookiecutter, e.g. `project_url [http://astropy.org]:` should better point to the package template, etc.

[2018-04-07 00:36] bsipocz commented on #300
I'm glad to hear that it solved the issue.

[2018-04-07 00:36] #300 closed

[2018-04-30 17:58] bsipocz opened #314 "Rendered version should be more inclusive than users"
For the rendered version we should have everything opt in, including listing all options for licences, etc. This rendering shouldn't end up with the users though, so ideally will be created with private options like "_all".

[2018-04-30 18:32] bsipocz opened #315 "Remove ez_setup"
It has been already been removed from astropy-helpers, we don't really use it anywhere for packaging, so the cookicutter rendering should not try to copy it over either.

[2018-05-01 19:46] bsipocz opened #317 "Document the basic options for CI"
E.g. link to ci-helpers, and clean up a little bit the page about travis and appveyor

This is a follow-up for the astropy issue https://github.com/astropy/astropy/issues/3404

[2018-05-02 22:00] Cadair commented on #303
This is now done.

[2018-05-02 22:00] #303 closed

[2018-05-02 22:01] Cadair commented on #305
:thinking: This is fun, given that this flexibility is the reason why I started on this path :laughing:

[2018-05-02 22:02] Cadair opened #319 "Tidy up the rendered package CI matrix"
There is a large disconnect between the travis matrix in the cookiecutter branch and the rendered / master branch.

[2018-05-02 22:03] Cadair commented on #314
This is now done for licence. Do you have specific other examples?

[2018-05-03 01:04] bsipocz commented on #314
no, I have to try out it to find more of these, or better, we'll see if people try it out tomorrow.

[2018-05-03 12:18] Cadair commented on #319
As mentioned in #310 we should change the default python version of the package template back to 3.x once this is closed so the CI will pass on the rendered branch.

[2018-05-03 14:34] Cadair opened #323 "Change the README on the rendered branch to not be the 'Other' licence."

[2018-05-03 18:52] astrofrog opened #326 "Update conf.py to use sphinx-astropy"
This section:

https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/docs/conf.py#L32

Needs to be updated to do what we do in the core package:

https://github.com/astropy/astropy/blob/master/docs/conf.py#L34

[2018-05-03 21:12] ceb8 opened #329 "Feedback from a novice install using new cookiecutter documentation"
**Technical difficulties**
- Astropy "documentation about this template" link is broken
- I had to pip install *click* and *gitpython* packages.
  Some other people should try this and see if it is just a problem with my environment, however I was able to successfully conda install other packages no problem, so it might be a wider issue. I am using Python 3.6.5, and conda 4.0.6, and was installing

[2018-05-03 21:35] pllim commented on #329
So, what's the feedback? :sweat_smile:

[2018-05-03 21:35] ceb8 commented on #329
@pllim I didn't know hitting enter created the issue!

[2018-05-04 15:49] matiscke opened #330 "Long input spills into other fields in setup.cfg"
@bsipocz

Hey there, I just tested cookiecutter with data from a package of mine, and I spotted a possible issue in **setup.cfg**: apparently, my long package description spilled into other fields of [metadata]. Here's a snippet from my setup.cfg:

[code]

[2018-05-04 16:00] bsipocz commented on #330
cc @Cadair

[2018-05-04 17:38] matiscke commented on #330
as requested by @Cadair:
[code]

[2018-05-04 19:39] bsipocz commented on #330
Maybe @Cadair is right and it's a jinja2 issues, the 2.8 release is almost 3 years old.

[2018-05-05 22:03] matiscke commented on #330
Thanks for the hint. I tried and updated Jinja2 to 2.10, and built a new package with cookiecutter. The result is the same as above.

[2018-05-07 21:13] simontorres opened #331 "`package-template` is hard coded as header of the page"
The combination logo + package-template seems to be hard coded in the template. In my opinion it should take the name of the project by default. For instance I just found that specutils still have package-template on it.
![package-template](https://user-images.githubusercontent.com/3878895/39725424-26aae900-5222-11e8-9f1d-9279c4f5179d.png)

[2018-05-07 21:14] simontorres commented on #331
Forgot to mention that this might be related to #191

[2018-05-08 11:50] bsipocz commented on #331
@simontorres - Yes, somewhat related, but this now need to be done within the cookiecutter templating.

[2018-05-11 13:37] astrofrog commented on #315
By the way this requires ``ah_bootstrap.py`` to no longer use it (which e.g. astropy-helpers v2.0.x does)

[2018-05-11 13:56] #326 closed

[2018-05-11 13:56] astrofrog commented on #298
Done!

[2018-05-11 13:56] #298 closed

[2018-05-11 13:56] Cadair commented on #315
we could have the post hook remove it if the astropy helpers version is >= 3 ?

[2018-05-11 13:59] bsipocz commented on #315
I'm OK backporting that PR if there is an agreement on it. The removal of ez_setup was a long standing issue there and should really not use much trouble.

[2018-05-12 12:33] perwin opened #333 "Unable to install package template"
I'm getting a consistent failure trying to install the package template (purely for exploratory purposes at the moment, which is why my example has minimal answers to the questions). It crashes right at the end of the question-asking phase. The culprit appears to be a call in the jinja2 package to a non-existent attribute of the arrow module.

It *does* create a skeleton directory structure with s

[2018-05-13 01:03] bmorris3 opened #334 "configparser needed for Read the Docs"
The default Read The Docs build requires configparser, but it doesn't appear in the .rtd-environment.yml file. Should we add
[code]
to the template?

[2018-05-16 12:32] keflavich opened #335 "Documentation: I don't understand what cookiecutter does"
The main documentation page doesn't say exactly what cookiecutter does or where you should run it.  This might only affect me, because I was used to the old package-template, but I expected that you should run cookiecutter in the directory of an existing repository.  That clearly is not the case; I think you're supposed to run it in some random location and create the whole repository from scratch

[2018-05-16 12:33] keflavich commented on #335
Oh, also, it really sucks having to answer all the questions from scratch when cookiecutter fails.

[2018-05-16 12:50] bsipocz commented on #335
@keflavich - We still don't have a good enough infrastructure to help updating already existing packages, so this is a very valuable feedback that we should not forget about it.

In the meantime,  the master branch is there with a rendered version, that is basically looks like the old package-template, and you can use that as you used the template before.

[2018-05-24 14:10] eteq commented on #191
I'm going to make a command decision to close this since it now says "package-template"

[2018-05-24 14:10] #191 closed

[2018-05-24 14:38] bsipocz commented on #191
but it still has the astropy logo, hasn't it?

[2018-05-24 17:03] eteq commented on #331
@simontorres - to clarify, it is *not* hard-coded - you can see astropy/specutils#200 for an example of how to change it to a different name... But your point is well taken that this isn't in the conf.py

That said, I think the fix fir this issue is actually "add the section to the `conf.py` template". I'll try to make a PR to fix this shortly.

[2018-05-25 03:46] eteq commented on #335
(a good point that it should say this in the readme, though!)

[2018-05-29 22:31] bsipocz opened #337 "Add opt in for nitpicky docs mode to form"
Currently the nitpicky part is just dumped into the rendered `docs/conf.py` file commented out rather than configured by cookiecutter. It should either be there uncommented, or not there based on the config.

[2018-05-29 22:41] bsipocz opened #338 "Make conftest options configurable"
similarly to #337, the conftest.py options are now also all commented out which is everything but helpful. At least those should stay as configurables, too.

[2018-06-04 11:57] adrn opened #340 "Link to documentation in README is wrong"
The link "Astropy documentation about this template"

should point to: http://docs.astropy.org/en/latest/development/astropy-package-template.html

[2018-06-06 19:49] lpsinger opened #341 "#327 makes pytest a dependency"
#327 makes pytest a dependency that would need to be listed in `install_requires` because it indirectly results in an attempt to call `import pytest` via an unconditional import of `astropy.tests.helper`.

[2018-06-07 11:29] #341 closed

[2018-06-07 11:57] Cadair opened #344 "The script to deploy to master is broken"
https://travis-ci.org/astropy/package-template/jobs/389201869#L1987

[2018-06-07 18:20] astrofrog commented on #344
Gotta love the explicit error message on the last line of the log:

[code]

[2018-06-07 19:03] #248 closed

[2018-06-21 01:20] dkirkby opened #345 "Warnings generated by setup.py with new cookiecutter package"
I just followed [these instructions](http://docs.astropy.org/projects/package-template/en/latest/), which went smoothly, but I noticed the following warning (2x) the first time I ran `python setup.py ...`:
[code]
Also, this warning appears each time I run `python setup.py ...` (I used the default initial version string):
[code]

[2018-06-21 01:33] pllim commented on #345
For the first one, it was fixed in astropy/astropy-helpers#379

[2018-06-21 15:10] dkirkby commented on #345
The normalization rule triggering the `UserWarning` is specified in [PEP440](https://www.python.org/dev/peps/pep-0440/#integer-normalization), and removes leading zeros.

However, the cookiecutter default version is not causing this:
[code]
I guess the problem is somewhere in astropy-helpers, maybe [get_git_devstr](https://github.com/astropy/astropy-helpers/blob/master/astropy_helpers/git_helpers.

[2018-06-21 18:14] dkirkby commented on #345
Digging deeper, the version problem is in this package after all.  The cause is [this line](https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/setup.py#L91) in setup.py:
[code]
The simplest fix is to replace `dev0` with `dev` in three places.  A more robust solution would also detect any trailing integer after `dev` and generate a warning/erro

[2018-06-21 18:27] dkirkby commented on #345
Related to this, the PEP386 reference in `setup.cfg` could be updated to PEP440.

[2018-06-22 14:52] dkirkby opened #347 "Travis problems"
After enabling travis (and RTD), I ran into a few problems with a vanilla cookiecutter template.

1. sphinx-astropy is not declared as a dependency.  I fixed this by adding it to `CONDA_DEPENDENCIES` in `.travis.yml`.  I suspect it should also be added to `.rtd-environment.yml`.

2. I specified a min python version of 3.6, but the travis config stills tests old numpy versions against 3.5:
[code]
I

[2018-06-22 15:43] dkirkby commented on #347
More on sphinx-astropy: looking at my travis logs, I see that the following is failing:
[code]
The test still passes since it falls back to a pip install, but isn't this conda install [supposed to work](https://anaconda.org/astropy/sphinx-astropy) and preferred?

I just noticed that sphinx-astropy-1.0 is available from the conda-forge channel. Should that be added the travis `CONDA_CHANNELS`?

[2018-06-22 16:10] bsipocz commented on #347
Weird, `sphinx-astropy` should have been picked up from the astropy channel: https://anaconda.org/astropy/sphinx-astropy

[2018-06-22 16:16] dkirkby commented on #347
Perhaps it is just me.  Is anyone else able to reproduce this failure?
[code]

[2018-06-22 16:22] pllim commented on #347
I have no problem with conda finding it both on Linux and Windows. What is your OS?

[2018-06-22 16:28] dkirkby commented on #347
Conda is looking in the `astropy/osx-64` channel (see the log above).

[2018-06-22 16:35] dkirkby commented on #347
Travis builds on `linux64` are also failing to conda-install sphinx-astropy, but for a different reason (missing sphinx-gallery):
[code]
The full log is [here](https://api.travis-ci.org/v3/job/395535488/log.txt).

[2018-06-22 16:49] dkirkby commented on #334
I had the same issue but wondered if `configparser` shouldn't be installed via conda.  However, when I tried to `conda install configparser`, I got:
[code]
It looks like `poyo` is a requirement of cookiecutter.

[2018-06-22 17:21] Cadair commented on #334
Wait wat. I thought configparser was stdlib.

This shouldn't be an issue under Python 3.5, as apparently the pip package configparser is a backport from 3.5 to previous versions.

[2018-06-22 17:39] bsipocz commented on #334
yeah, but still, do we handle the <3.5 case gracefully?

[2018-06-22 17:56] dkirkby commented on #334
Perhaps the problem is that RTD defaults to a py27 env?  Adding instructions to select "Cython 3.x" under Advanced Settings on the [Next Steps](http://docs.astropy.org/projects/package-template/en/latest/nextsteps.html) would help, but I don't think that guarantees 3.6, since I am now triggering this setup.py check:
[code]

[2018-06-22 18:00] bsipocz commented on #334
@dkirkby - This definitely looks like a bug, there seems to be a few left with the new machinery. Thank you for the feedback both here and in #347

[2018-06-22 18:02] pllim commented on #334
You can ask RTD to build with Python 3. It is in your RTD project admin settings.

[2018-06-22 18:53] pllim commented on #334
@dkirkby , if RTD is not respecting admin settings, please open an issue with them at https://github.com/rtfd/readthedocs.org/issues .

[2018-06-22 19:08] dkirkby commented on #334
@pllim Do you see evidence that RTD is not respecting admin settings in [this build log](https://readthedocs.org/projects/skysim/builds/7384015/)?

[2018-06-22 19:13] weaverba137 commented on #334
Sorry to jump in here, but I certainly do.  If you look at the raw logs, you'll see that it is using Python 2.  For example, this line near the bottom:
[code]

[2018-06-22 19:39] dkirkby commented on #334
Thanks Ben, I will open an issue with RTD.

[2018-07-04 03:04] bmorris3 commented on #334
@dkirkby I'd love to hear any feedback you get in this thread, my docs are forever stalled :(

[2018-07-09 17:05] bmorris3 opened #348 "Difficulty finding astropy.helpers.plugins"
I'm working on a [package](https://github.com/bmorris3/stash) built from the package-template (since the cookiecutter update), and when I run `python setup.py test`, I get the following error:
[code]
with astropy version `3.0.dev19880`, pytest version `3.6.2`. Has anyone else seen this before? I've tried hardcoding into `conftest.py`:
[code]
but that hasn't seemed to help, yielding a much longer t

[2018-07-09 18:52] bmorris3 commented on #348
I was able to get the tests working by removing the import block currently in `conftest.py` and replacing it with:
[code]

[2018-07-09 18:54] bsipocz commented on #348
Don't you get the deprecation warning? This should really work out of the box 😞

[2018-07-13 00:05] Cadair opened #349 "Add inclusively focused language and links to the template"
I.e. the imposter syndrome disclaimer that yt have in their readme and CoC etc etc

[2018-07-13 00:08] pllim commented on #349
But before that, we need to actually add the code of conduct first... #295

[2018-07-13 05:22] pllim commented on #349
Or maybe not... Looks like they have that verbiage inside README. https://github.com/yt-project/yt/blob/master/README.md#contributing

[2018-07-13 13:57] drdavella commented on #348
Just curious but is there any chance you have an older version of `astropy` also installed in the same environment?

[2018-07-13 14:01] bmorris3 commented on #348
@drdavella – That's entirely possible. What's the best way to check?

[2018-07-13 14:05] drdavella commented on #348
You need to look under the `site-packages` directory for your environment, and do something like the following:

`ls -d /path/to/environment/lib/python{VERSION}/site-packages/astropy*`

Since you have a development version of Astropy, I'd expect to see a file named `astropy.egg-link` under that directory. If there are other Astropy directories, it indicates you might have older versions installed

[2018-07-13 14:13] bmorris3 commented on #348
@drdavella I found and deleted all versions except astropy 3.0.3, and now the cookiecutter code works without modification. Thanks for the tip!

[2018-07-13 14:14] drdavella commented on #348
@bmorris3, happy to help! Feel free to close this issue 😄 .

[2018-07-13 14:15] #348 closed

[2018-07-15 15:21] bmorris3 commented on #334
I find that I can solve the problem if I add the following two lines to the `.rtd-environment.yml` file:

[code]

[2018-07-15 19:58] bmorris3 commented on #334
I think this means

1) effectively cookie cutter shouldn't offer py2.7 support anymore
2) we should explicitly put the selected python version in the dependencies yml file
3) I could use the help of a cookie cutter pro to make the PR that does this, cc @Cadair?

[2018-08-06 16:43] pllim opened #351 "TST: Appveyor comment misleading if PY2 opted out"
https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/appveyor.yml#L34

[code]

This text is included regardless of whether user opt to use Python 2 or not.

[2018-08-06 20:04] #351 closed

[2018-08-09 15:52] eteq commented on #331
Fixed in  #336

[2018-08-09 15:52] #331 closed

[2018-08-15 11:25] astrofrog opened #354 "Add Python 3.7 in CI files"
We should probably add support for Python 3.7 in the template!

[2018-08-15 11:29] astrofrog commented on #347
@dkirkby - for your local issues, what conda version do you have? If your conda is too old it won't see recent conda packages. You could try:

[code]

then see if that now works locally.

[2018-08-15 12:33] dkirkby commented on #347
Thanks for the suggestion @astrofrog.  I was only a little out of date:
[code]
After the update, `conda install -c astropy sphinx-astropy` is still failing the same way.

I attached the [output](https://github.com/astropy/package-template/files/2290199/install.log) from:
[code]
in case anyone is willing to take a closer look (I didn't see anything obvious).

[2018-08-15 13:05] astrofrog commented on #344
Fixed in #355

[2018-08-15 13:05] #344 closed

[2018-08-15 13:07] astrofrog commented on #334
So just to be clear, the RTD build can use Python 3 even for a package that supports Python 2 and 3 - it just means we can't support Python 2-only packages (which we don't anyway)

[2018-08-15 14:12] #334 closed

[2018-08-15 14:34] astrofrog commented on #347
We have a similar issue with sphinx-astropy here: https://travis-ci.org/astropy/package-template/jobs/416380859

[2018-08-15 15:40] #354 closed

[2018-08-15 15:42] astrofrog commented on #319
I think this is no longer relevant?

[2018-08-15 15:42] #319 closed

[2018-08-15 15:44] astrofrog commented on #315
Done in https://github.com/astropy/package-template/pull/339

[2018-08-15 15:44] #315 closed

[2018-08-15 16:13] #347 closed

[2018-08-15 20:47] #349 closed

[2018-08-15 20:55] astrofrog commented on #340
Fixed in https://github.com/astropy/package-template/commit/2a2229f753230b650085853e305063693a262c47

[2018-08-15 20:55] #340 closed

[2018-08-15 21:13] astrofrog commented on #238
For the rendered version I've added the badge here:

https://github.com/astropy/package-template/blob/cookiecutter/README.rst

We could also run it on PRs for the cookiecutter branch I guess?

[2018-08-15 22:16] #345 closed

[2018-08-16 12:57] Cadair opened #366 "add circleci build for documentation with artefacts?"
Should we add an optional CircleCI set of configs?

[2018-08-16 13:17] bsipocz commented on #366
I'm not that sure about this, circleCI's UX is still far from ideal and failing in cryptic ways (e.g. it stops testing when no one is subscribed for a given repo, and it wasn't that we unsubscribed, it removed us for some weird reasons. So all these can be especially problematic for small packages with just one maintainer, etc.)

But otherwise, sure, having the configs around as templates can be u

[2018-08-16 13:48] Cadair commented on #366
I agree, but having the configs in the template would be useful if people wanted to use them. The artefact handling on CircleCI is just light years ahead of Travis.

[2018-09-12 14:44] drdavella commented on #107
This has been recorded in https://github.com/astropy/astropy-helpers/issues/402 and should be resolved by https://github.com/astropy/astropy-helpers/pull/404, so it can be closed here.

[2018-09-12 17:53] #107 closed

[2018-09-13 09:44] astrofrog opened #367 "Enable coverage on all builds?"
For the core astropy package, including coverage testing has a significant performance impact, but for other packages this won't necessarily be the case. We could consider adding ``--coverage`` to all builds by default instead of having a dedicated coverage build.

[2018-09-13 09:44] astrofrog opened #368 "Use codecov instead of coveralls?"
Codecov is easier to set up than coveralls and produces nicer results these days. Should we switch to using that by default in the template? Or maybe we can make it a choice?

[2018-09-13 09:46] astrofrog opened #369 "Don't install LaTex"
I think we can remove the following apt packages from Travis:

[code]

because I think that we now use mathjax.

[2018-09-13 12:01] pllim commented on #367
I definitely set it up by default for a few packages, so this is feasible in some cases. But maybe add a comment to discuss when you don't want to do that?

[2018-09-13 12:02] pllim commented on #368
Choice is nice but also adds maintenance burden. I opt for Highlander style ("there can be only one").

[2018-09-13 14:02] Cadair commented on #368
+:100: to codecov. It's just better in like every way

[2018-09-13 18:59] bsipocz commented on #368
another vote for codecov, and I'm also very much supportive for a year now to switch the main repo to codecov as well.

[2018-09-13 19:02] bsipocz commented on #369
I was also experimenting with only installing the extra apt package, needed for the docs build, only for the docs build. It should work, but it doesn't yet. Anyway, once I figured out the details, I would add those changes to the template as well.

[2018-09-13 20:54] astrofrog commented on #369
It seemed to work here: https://github.com/spacetelescope/mosviz/pull/129

[2018-09-13 20:58] bsipocz commented on #369
Oh, sure. What I meant is is more like this, where apt install should work from the matrix, but I yet to figure out the right syntax (https://github.com/bsipocz/astroquery/blob/travis_add_np114/.travis.yml#L86)

[2018-10-10 12:19] Cadair opened #370 "Consider using pytest-cookies for testing"
https://github.com/hackebrot/pytest-cookies

[2018-10-17 15:40] pllim commented on #368
If astropy/astropy#7879 is merged, similar changes there can be ported over here.

[2018-10-17 19:01] bsipocz commented on #368
@pllim - yes, let's make that happen, we need one more approval for that PR and you're in the right place to make that happen by showing up in the right office :trollface:

[2018-11-22 17:21] astrofrog opened #372 "Prevent pytest from picking up test function as a test"
We should add ``test.__test__ = False`` to the top-level ``test()`` function to prevent it being identified as a test by pytest: https://github.com/astropy/astropy/blob/master/astropy/__init__.py#L158

See https://github.com/pytest-dev/pytest/issues/4434#issuecomment-441088078 for more details.

[2018-11-22 18:13] #372 closed

[2018-12-14 18:50] bsipocz opened #377 "Update the test matrix template"
Much has happened since we last did it, so add new versions and also add a template of testing against older astropy with numpy versions not supported any more by the latest release, e.g.

`NUMPY_VERSION=1.10 ASTROPY_VERSION=3.0`

Once done, notify people on astropy-dev and/or open PRs/issues in repos using settings that are clearly not compatible any more.

[2019-01-09 20:31] pllim opened #380 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [x] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [ ] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-09 20:47] #305 closed

[2019-01-10 00:09] bsipocz opened #383 "_astropy_init.py is not python3 only"
even when python2.7 is not supported.

Shall we have two version of the file, or messing with the content with some templating?

@Cadair @astrofrog @pllim

[2019-01-10 00:27] pllim opened #384 "Revive GitHub "release" (fancy tags)"
Then, we can tag a last "release" that supports PY2 before dropping it (xref #264 and #383).

This was also requested during Astropy Coordination Meeting 2018.

[2019-01-10 00:31] eteq commented on #264
Re-visiting this topic given that events have evolved in the meantime (channeling some in-peson discussion with @pllim and @bsipocz). Since we are in the final year of py2, perhaps it's the time to truly drop support if we do #384, we could tag a release now as the final one that supports py2 (although it should be the SHA immediately prior to #382), and tag that as 2.0, and then tag the "post py2

[2019-01-10 22:41] bsipocz opened #386 "Set up the changelog bot"
now that I've tagged v2.0 realized that many changes are missing from the changelog, getting the bot run here would be super useful...

[2019-01-11 11:03] astrofrog opened #387 "Change default RTD config to use pip and extras-require"
We should update the package template to match the core package in terms of RTD configuration - basically having a configuration that uses pip and relies on the extras-requires (which can default to sphinx-astropy)

[code]

[2019-01-14 14:58] Cadair commented on #380
I think we are good on this right?

[2019-01-14 16:47] bsipocz commented on #380
No we're not, the travis matrix is still a mess.

[2019-01-14 17:19] Cadair commented on #383
Should be possible to template out bits like we have done elsewhere, or we just drop 2.7 :grin:

[2019-01-14 17:30] bsipocz commented on #383
I'm in favour of the latter. No new packages should start at this point supporting it, and existing ones should seriously consider dropping support...

[2019-01-17 11:20] astrofrog opened #390 "Formatting of disclaimer"
For some reason the links don't work in the italic text:

<img width="980" alt="screenshot 2019-01-17 at 11 18 43" src="https://user-images.githubusercontent.com/314716/51315332-d6314a00-1a49-11e9-87f8-9acc60e9056e.png">

Removing the italics fixes it.

[2019-01-17 16:32] pllim commented on #390
Why not a PR? :wink:

[2019-01-17 17:17] astrofrog commented on #390
Too much to do, too little time!

[2019-01-17 19:56] #390 closed

[2019-02-01 21:52] bsipocz opened #392 "travis sudo disabled is deprecated"
We should update the template config and probably batchPR, too. This doesn't yet cause issues, but may in the future.

(Ref: Apparently they are automatically migrated to a sudo enabled infrastucture (GCE), but on the long run I think it would be better to cleanup the configs, who knows it may quicken up stuff. https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration)

[2019-02-20 16:36] wkerzendorf opened #394 "error when running setup.py test"
I get this error when running `python setup.py test` in python3.6 with helpers 3.1. it goes away when I run the same command again. Appears sometimes.
[code]
[tardis_package_versions.txt](https://github.com/astropy/package-template/files/2886044/tardis_ah_fail.txt)

[2019-02-20 17:04] astrofrog commented on #394
I'm not sure why this is happening, but the code that is triggering this will be gone in the next release of astropy-helpers. Does this happen only with 3.6?

[2019-02-20 18:45] wkerzendorf commented on #394
Haven't tested any other versions yet. attaching environment file. but don't worry -if it goes away that's fine.

[2019-02-27 17:16] weaverba137 opened #395 "egg_info tests no longer run"
Recently, Travis tests of the master branch no longer run `SETUP_CMD='egg_info'`, even though it is still in the rendered .travis.yml file.  See, for example:

* https://travis-ci.org/astropy/package-template/builds/494245189
* https://travis-ci.org/astropy/package-template/builds/481301585

[2019-02-27 18:39] pllim commented on #395
Potential fix at #396

[2019-03-05 14:43] bmorris3 opened #397 "Failing RTD build"
I'm trying to build the docs on a [package](https://github.com/bmorris3/fleck) I'm developing based on the package template, and I get the following build error when RTD runs `conda env create --quiet --name latest --file /home/docs/checkouts/readthedocs.org/user_builds/fleck/checkouts/latest/.rtd-environment.yml`:

[code]

Could be related to #387?

[2019-03-05 15:23] pllim commented on #397
You need to add those two packages to your RTD pip requirements? At some point, they were take out of helpers. Did you just updated your helpers or something?

[2019-03-05 15:29] bmorris3 commented on #397
Do you mean [like this](https://github.com/bmorris3/fleck/blob/master/.rtd-environment.yml#L13-L15)? Because I tried and it didn't work.

[2019-03-05 15:34] pllim commented on #397
You can try their v2 format: https://docs.readthedocs.io/en/stable/config-file/v2.html

[2019-03-05 15:34] pllim commented on #397
Also check your RTD admin settings.

[2019-03-05 15:35] pllim commented on #397
Oh, wait, don't use conda on RTD. Use pip.

[2019-03-05 15:38] bmorris3 commented on #397
I'm not sure I follow – where can I specify conda instead of pip?

[2019-03-05 17:44] pllim commented on #397
Like this: https://docs.readthedocs.io/en/stable/config-file/v2.html#conda

Your original comment above mentioned conda.

[2019-03-12 01:11] bmorris3 commented on #397
As @pllim suggested, switching some dependencies to pip solved the problem, like so:
[code]

[2019-03-12 01:11] #397 closed

[2019-03-12 01:12] bsipocz commented on #397
pip these days are faster than conda, so the suggestion here was to use pip _only_.

[2019-03-18 14:01] pllim opened #398 "Developer documentation: write "HOW TO" about package data in affiliated packages"
NOTE: Moved from astropy/astropy#700, originally reported by @kbarbary back in Jan 29, 2013.

Affiliated packages for various subfields of astronomy are likely to include package data specific to the subfield. It would be nice to have a step-by-step "HOW TO" (with an example) in the developer documentation on the proper way to include such data.

There are currently guidelines on package data and

[2019-05-13 16:08] #395 closed

[2019-05-20 07:19] bsipocz opened #402 "Revise recommended CI jobs"
I feel that rather than suggesting to test with numpy prereleases low traffic packages should actually test against the dev version, or nightly builds when available.

Also, for good measure, I think the template shouldn't allow-to fail the flake8 job by default, and should update the numpy versions being tested, etc.

[2019-05-24 16:37] pllim commented on #402
Or maybe this is a good excuse to switch to Azure altogether... or is that too ambitious?

[2019-05-24 20:32] nabobalis opened #403 "Ability to not have an extern folder?"
While we could turn off the cextern folder, it would be nice to avoid also the normal version as well.

[2019-05-24 20:42] astrofrog commented on #403
Agree, in fact most packages shouldn’t have an extern by default.

[2019-05-24 20:46] nabobalis opened #404 "Ability to bypass documentation merge?"
While we were retemplating another project, we ended up having to undo some of the doc changes as they clashed with the current documentation. The ability to skip this step might be too far but might be nice?

[2019-06-05 19:18] bsipocz opened #406 "Rework travis matrix"
Add stages, cleanup addons, etc.

[2019-06-07 20:03] astrofrog opened #407 "When not initializing repo, download ah_bootstrap.py"
If the user answers 'n' to creating the git repo, we should download the appropriate ``ah_bootstrap.py`` file manually so that the package still works.

[2019-06-07 20:23] bsipocz commented on #407
This should be done before we tag, makes me feel very uncomfortable to create a template that does not work.

[2019-06-08 14:03] pllim commented on #264
I think this was addressed by #385 and we can close it?

[2019-06-08 14:05] pllim commented on #227
We moved PY2 stuff to a different branch, so this is indirectly resolved?

[2019-06-08 14:06] pllim commented on #190
I don't remember this anymore, so closing.

[2019-06-08 14:06] #190 closed

[2019-06-08 14:07] pllim commented on #145
If we go the route of astropy/astropy-APEs#52 , then this is no longer relevant.

[2019-06-08 14:10] pllim commented on #111
pypa/setuptools#395 was closed as "won't fix", so... I am not sure if there is anything we can do about it.

[2019-06-08 14:11] pllim commented on #94
After 5 years, I think we all know now where to find them? Can we close this issue?

[2019-06-08 14:12] pllim commented on #27
I suggest we close it.

[2019-06-08 18:28] bsipocz commented on #406
This was a duplicate of #377.

[2019-06-08 18:28] #406 closed

[2019-06-08 18:33] bsipocz commented on #227
It may still be an option to opt in "support LTS" in a generic LTS sense. Not sure in practice it has any significant priority. If anyone feels strongly about it, PRs are welcome.

[2019-06-08 18:36] bsipocz commented on #264
Yes! Thanks @pllim for triaging all these issues.

[2019-06-08 18:36] #264 closed

[2019-06-08 18:42] #27 closed

[2019-06-08 18:45] #94 closed

[2019-06-08 19:03] bsipocz commented on #402
@pllim - providing azure templates would be a very much welcomed addition.

[2019-06-08 19:04] bsipocz commented on #392
Addressed by #393 and #408

[2019-06-08 19:04] #392 closed

[2019-06-08 19:04] #380 closed

[2019-06-08 19:06] bsipocz commented on #377
The updated matrix seems sensible enough, so I'm closing this issue. Any further improvements are welcome in follow-up PRs.

[2019-06-08 19:06] #377 closed

[2019-06-08 19:08] bsipocz commented on #279
Done in #408

[2019-06-08 19:08] #279 closed

[2019-06-08 19:12] bsipocz commented on #402
I leave this issue open for now as there is space for improvement for adding either azure or circleCI or both of their configs.

[2019-06-08 20:11] cdeil commented on #111
I re-read some of the old discussion above. @pllim - yes, I think this is just setuptools behaviour, so keeping this issue open isn't useful. Closing now.

[2019-06-08 20:11] #111 closed

[2019-06-08 21:23] #243 closed

[2019-06-11 22:14] #304 closed

[2019-06-11 22:14] #407 closed

[2019-06-12 16:47] astrofrog opened #412 "Should .travis.yml use language: generic?"
Currently it uses ``language: c``.

[2019-06-12 16:59] bsipocz commented on #412
Generic  and c are both good, I don't have preference. Sometimes I used minimal which seemed to be a good idea but then I run into missing packages (can't recall the details though).

[2019-06-21 14:55] astrofrog opened #418 "Make sure astropy_helpers is excluded in pytest in setup.cfg"
This is to prevent e.g. https://github.com/astropy/astropy-helpers/pull/488

[2019-06-28 09:20] astrofrog opened #419 "Don't default to docs layout with a sub-directory for the package"
The docs layout in:

https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/docs/index.rst

was originally used because the template was for use (initially) by a number of packages that might end up being merged into the core. This is very much no longer the case, so we should default to just having the top-level docs in ``docs``, not ``docs/packa

[2019-06-28 12:12] Cadair commented on #419
I am sad I only have one :+1: to give.

We have already patched this out of the sunpy fork iirc.

[2019-06-28 17:17] bsipocz commented on #419
sounds good to me

[2019-07-31 18:29] pllim opened #421 "Rename master branch to something else?"
My muscle memory keeps doing `git fetch upstream master` followed by `git rebase upstream/master`, then bad things happen because I am working off `cookiecutter` branch. Can we rename `master` to `master-old` or `master-py3` or something else? 😬

[2019-07-31 19:02] bsipocz commented on #421
The messing with the master not the default branch should end up on a faq somewhere, in the list of "don't do it as it causes more issues than it solves".
As I recall the arguing for keeping it `master` rather than `rendered` was that this case the old ways would still work for folks who have muscle memory, or can find the affiliated package related docs in one of the old versions of astropy (as t

[2019-08-01 03:09] #238 closed

[2019-08-27 17:45] keflavich opened #426 "missing 'version.py': indicates -'s have not been substituted with _'s"
When I attempt to install a newly created package, I get the following error:
[code]
I suspect this is a red herring, and the actual problem is that the package is called `casa-notebook-tools`, not `casa_notebook_tools`, but I'm posting the error as is; I'll add updates as I figure this out.

[2019-09-01 19:45] mhvk opened #428 "Python version check comes to late (for version 2 at least)"
In `__init__.py`, the check on the python version comes after importing `_astropy_init`, which means that if one tries to import under python2, a bug is raised before the version check happens.

I think the order can be safely swapped (or, perhaps better, the version check can happen inside `_astropy_init.py`)

Also, ideally, of course there is only one place where the minimum version is defined..

[2019-09-02 08:06] Cadair commented on #428
This turned out to be practically impossible, which is why we ended up with it twice fwiw.

[2019-09-02 14:34] matteobachetti opened #429 "No such file or directory: readthedocs.yml"
I'm creating a new package from the template using cookiecutter. If I answer 'n' to the question `use_read_the_docs [y]:`, the package creation fails with

[code]

[2019-09-02 16:21] pllim commented on #429
I don't have time to open PR right now but something like this might fix the problem in `post_gen_project.py`:
[code]

[2019-09-02 20:17] Cadair commented on #429
I would assume it's related to this: https://github.com/astropy/package-template/blob/cookiecutter/hooks/post_gen_project.py#L46

[2019-09-12 12:16] bmorris3 opened #430 "Sphinx automodapi broken?"
I just recently created [a package](https://github.com/bmorris3/kelp) using the package template and tried to run `python setup.py build_docs`, and also tried building docs on RTD, and in both cases automodapi does not build the API documentation, it just generates a [blank page](https://kelp.readthedocs.io/en/latest/kelp/index.html#reference-api). Am I doing something wrong, or is something wrong

[2019-09-15 14:55] bmorris3 commented on #430
Here's a build where the batman fix is implemented, but `automodapi` doesn't seem to kick in:

https://readthedocs.org/projects/kelp/builds/9659655/

[2019-09-16 15:03] pllim commented on #430
Are you sure you ask RTD to install `automodapi`? I don't see any trace of it being installed in your log. https://readthedocs.org/api/v2/build/9659655.txt

[2019-09-16 15:05] pllim commented on #430
So, I guess, either there is a misconfiguration in your RTD admin settings, or whatever in the template is not playing well with RTD anymore... :thinking:

[2019-09-16 15:08] pllim opened #431 "MNT: Use ReadTheDocs v2 YAML and not conda"
1. Upgrade from v1 to v2 ReadTheDocs YAML specifications. See https://docs.readthedocs.io/en/stable/config-file/v2.html
2. Stop using `conda` to set up the environment. Use `pip` all around for faster build time and more predictable outcome.

[2019-09-16 15:08] pllim commented on #431
p.s. I can take a stab at this if you want, but I want to make sure everyone is on board first.

[2019-09-16 16:15] bsipocz commented on #431
Sounds like a good plan to me. We need to do point no1 anyway, and the no2 sounds quite reasonable to me, too.

[2019-09-16 21:08] pllim commented on #429
Looking at this again, I think it is a typo in the code. It is supposed to be looking for `.readthedocs.yml`, not `readthedocs.yml`.

[2019-09-22 16:57] tcassanelli opened #434 "automodapi overlapped text"
I'm using the current `master` branch of the astropy package template to build docs in my package. Everything works fine in the offline version, but when the online version builds there is text that overlaps in the API `automodapi `.

**Offline**
![Screen Shot 2019-09-22 at 12 47 06 PM](https://user-images.githubusercontent.com/8934433/65391427-1cf0e580-dd37-11e9-9f4d-6cffcb324880.png)

**Online**

[2019-09-23 00:50] bsipocz commented on #434
I think it's likely to be a browser issue, I don't see this in your online docs (looking at it from firefox):
<img width="766" alt="Screen Shot 2019-09-22 at 17 46 29" src="https://user-images.githubusercontent.com/6788290/65397007-0a8ba180-dd61-11e9-9fde-4d09a78283cb.png">

Totally separately run into a similar issue where an rst formatting was totally off for certain Safari versions (in a bullet

[2019-09-23 02:16] tcassanelli commented on #434
@bsipocz thank you for your reply. My bad that I didn't check with other browsers. I was just curious because in an older version of my docs this didn't happen.
- [pyoof docs stable](https://pyoof.readthedocs.io/en/stable/)
- [pyoof docs latest](https://pyoof.readthedocs.io/en/latest/)

This seemed to have happened once I updated `astropy_helpers` to a newer version.

What do you mean with

[2019-10-29 18:23] stargaser opened #435 "Handling deprecation of astropy.tests.plugins.display items"
In the course of using the package template, we found some tests against the development version of astropy failing due to deprecation of items in `astropy.tests.plugins.display`. In particular, in `conftest.py` there is:
[code]
The import is successful in astropy 3.2.3 but fails in the development version.

The fix is to instead import these items from `pytest_astropy_header.display`. Does this m

[2019-10-29 18:25] bsipocz commented on #435
Yes, there has been some refactoring in preparation for astropy 4.0, and the changes hasn't yet been propagated all the way downstream.

[2019-10-29 18:40] astrofrog commented on #435
Hmm I didn't consider that the deprecation warnings would end up causing CI failures. We could always remove the deprecation warning for a transition period?

[2019-10-29 18:44] bsipocz commented on #435
I think the real issue is that `pytest_report_header` has ceased to be as now we're registering the plugin via the pytest config mechanism, and thus it's failing for every package that tries to import it from astropy.

As for deprecations, I think that packages should fix those, that's why we're raising them.

[2019-10-30 10:32] bmorris3 commented on #430
I think I've found the problem. [This line](https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/%7B%7B%20cookiecutter.module_name%20%7D%7D/__init__.py#L16) seems to squelch any imported classes/functions in the lines that follow it. By removing the `__all__ = []` line, I get successful docs builds...

[2019-10-30 10:40] bmorris3 commented on #430
Upon looking at the latest version of the package-template, I think this bug is resolved in some recent commits, so I'm going to close this error, but not before leaving a little note to future Issue searchers: if you're running into bugs with an older version of the package-template, be mindful of the `__all__` floating around in the repo/package/__init__.py file!

[2019-10-30 10:40] #430 closed

[2019-10-30 17:47] pllim opened #437 "Drop Python 3.5?"
Given that `astropy` has dropped Python 3.5, should the template drop it too?

[2019-11-05 01:13] tcassanelli commented on #435
I updated `.travis.yml` and `conftest.py` as suggested in #436, but I keep getting

[code]

while executing

[code]

on travis.

[2019-11-05 15:39] pllim commented on #435
@tcassanelli , are you doing a `from astropy.tests.plugins import *` or something like that in your package? I might have also missed something in #436, so please let us know if you found a solution.

[2019-11-05 20:52] tcassanelli commented on #435
@pllim I'm still trying to debug the problem, so far I tried several combinations in the `conftest.py` file. Do you mean to add the line `from astropy.tests.plugins import *` in `contest.py` right?
If I do so I get this error:
[code]

I'm using the [`conftest.py`](https://github.com/tcassanelli/pyoof/blob/d4176c566bdf92cbe12db4c6d6f5ccdbf604c506/pyoof/conftest.py#L3-L49) package template example o

[2019-11-05 20:57] pllim commented on #435
@tcassanelli , does this help? https://github.com/astropy/pytest-astropy-header#migrating-from-the-astropy-header-plugin-to-pytest-astropy

[2019-11-05 21:00] tcassanelli commented on #435
it doesn't I tried it. First I get an issue with `pytest_report_header`. I erase that name and I still can't get it to work.

[2019-11-06 10:15] astrofrog commented on #435
I tracked the deprecation warning down to a leftover reference to the plugin in astropy core, which I've fixed in https://github.com/astropy/astropy/pull/9539 - with that and using the recommended ``conftest.py`` from the pytest-astropy-header README:

[code]

Everything works fine for me. @tcassanelli - I'll let you know once the astropy PR is merged and if it still doesn't work for you after tha

[2019-11-06 15:21] pllim commented on #435
@tcassanelli , astropy/astropy#9539 is merged. FYI. Your CI should now pick up development version of Astropy with that patch.

[2019-11-06 15:53] tcassanelli commented on #435
Thanks @astrofrog, @pllim , now I am having another error in the developer version. Everything else builds fine in[ travis CI.](https://travis-ci.org/tcassanelli/pyoof) This is the error:
[code]
This is related to `from astropy.tests.helper import assert_quantity_allclose`, tests are correct but not the units, which is weird because it only fails while in:

[code]

[2019-11-06 16:04] pllim commented on #435
@tcassanelli , that failure is out of scope as far as the template (this repo) is concerned. If you have astropy dev installed locally, you can see if you can reproduce it. If so, please open an issue at https://github.com/astropy/astropy/issues with a minimal snippet to reproduce the failure. Thanks!

[2020-01-31 10:34] astrofrog opened #439 "Fix customization of pytest-astropy-header when running with tox"
In https://github.com/astropy/package-template/pull/438 @mhvk pointed out that the pytest-astropy-header isn't picking up the custom configuration in ``conftest.py`` in time and the header is therefore not being customized, so this issue is a reminder to fix this.

One idea mentioned in #438 was to make ``setup.cfg`` the primary place to specify the packages to show in the pytest-astropy-header an

[2020-01-31 10:41] astrofrog commented on #439
One elegant solution would be to do something along the lines of what https://github.com/noirbizarre/setuptools-meta does - because it means we don't actually create additional files but the installed distribution can be given access to more of the metadata in ``setup.cfg``.

[2020-01-31 14:39] pllim commented on #439
xref astropy/pytest-astropy-header#15 and astropy/pytest-astropy-header#17

[2020-01-31 16:23] pllim commented on #437
Fixed in #438

[2020-01-31 16:23] #437 closed

[2020-01-31 16:24] pllim commented on #435
Fixed in #438

[2020-01-31 16:24] #435 closed

[2020-01-31 16:24] pllim commented on #431
Fixed in #438

[2020-01-31 16:24] #431 closed

[2020-01-31 16:25] pllim commented on #428
Is this still an issue?

[2020-01-31 16:25] pllim commented on #429
Fixed in #438

[2020-01-31 16:25] #429 closed

[2020-01-31 16:26] pllim commented on #426
Probably irrelevant anymore due to #438 . Please open new issue if you see it again.

[2020-01-31 16:26] #426 closed

[2020-01-31 16:26] pllim commented on #418
Irrelevant due to #438

[2020-01-31 16:26] #418 closed

[2020-01-31 16:29] pllim commented on #394
`python setup.py test` is no longer the way to go with #438 merged.

[2020-01-31 16:29] #394 closed

[2020-01-31 16:29] pllim commented on #387
Fixed in #438

[2020-01-31 16:29] #387 closed

[2020-01-31 16:30] pllim commented on #383
We dropped PY2, right? Is this still an issue?

[2020-01-31 16:30] pllim commented on #367
I think this idea was rejected in review of #438

[2020-01-31 16:30] #367 closed

[2020-01-31 16:31] pllim commented on #366
RTD has auto PR builder now.

[2020-01-31 16:33] pllim commented on #283
Irrelevant due to #438

[2020-01-31 16:33] #283 closed

[2020-01-31 16:34] pllim commented on #262
Irrelevant due to #438

[2020-01-31 16:34] #262 closed

[2020-01-31 16:34] astrofrog commented on #383
Looks like it's not an issue, I don't see any Python 2.7 code in ``_astropy_init.py`` anymore

[2020-01-31 16:34] #383 closed

[2020-01-31 16:34] pllim commented on #268
Wasn't this addressed in #438?

[2020-01-31 16:35] pllim commented on #230
`git` is no longer needed after #438

[2020-01-31 16:35] #230 closed

[2020-01-31 16:35] astrofrog commented on #268
I think the template now properly takes this into account and asks for both a package name and a module name.

[2020-01-31 16:35] #268 closed

[2020-01-31 16:35] pllim commented on #210
Done in #438

[2020-01-31 16:35] #210 closed

[2020-01-31 16:35] pllim commented on #209
Irrelevant due to #438

[2020-01-31 16:35] #209 closed

[2020-01-31 16:36] astrofrog commented on #210
Just for the record, we actually added a ``test`` section in ``extras_require`` rather than use ``tests_require`` - the latter aren't really well supported by testing tools

[2020-01-31 16:36] pllim commented on #145
Irrelevant due to #438

[2020-01-31 16:36] #145 closed

[2020-01-31 16:36] pllim commented on #117
Irrelevant due to #438

[2020-01-31 16:36] #117 closed

[2020-01-31 16:39] astrofrog commented on #117
This is not so much irrelevant as already solved in prior PRs:

https://github.com/astropy/package-template/blob/999de51f7f1cef769491627c0ddbe94b02af45a4/%7B%7B%20cookiecutter.package_name%20%7D%7D/docs/conf.py#L170

[2020-01-31 16:42] astrofrog commented on #428
Technically it's still an issue, although people shouldn't really run into it if they define ``python_requires`` properly, which this template does. In any case I think the real fix is what @mhvk mentioned - we should just remove this check from ``__init__.py``. Should be an easy PR if anyone wants to give it a go :) (I'll happily approve).

[2020-01-31 16:43] astrofrog commented on #434
Just for the record, I'm moving this issue to sphinx-automodapi since we should discuss it there.

[2020-01-31 16:46] #366 closed

[2020-01-31 16:46] astrofrog commented on #419
Anyone want to do a quick PR for this? :)

[2020-01-31 16:47] astrofrog commented on #412
Now that we use tox, I changed it back to ``python`` in #438, so I'll close this.

[2020-01-31 16:47] #412 closed

[2020-01-31 16:54] astrofrog commented on #330
I think cookiecutter doesn't deal well with multi-line input. However I removed ``long_description`` as a variable in #438 so maybe we don't need to worry about this anymore?

[2020-01-31 16:54] astrofrog commented on #337
I think we should just have it enabled by default for new packages, right? Older packages can always comment it out if they can't cope with it?

[2020-01-31 19:20] bsipocz commented on #337
yes, I think enabling by default is the right thing to do.

[2020-02-02 20:03] #428 closed

[2020-02-03 18:36] nmearl opened #442 "Tox file is not customized for specific python version"
In the cookie cutter setup, specifying minimum python version is not reflected in the `tox.ini` file which has python versions explicitly set.

[2020-02-04 22:40] bsipocz commented on #81
Another similar issue is that package template tags are being inherited in packages and are soo damn difficult to clean up years after the fact (e.g. we have `1.0` etc in astroquery, that are coming back each time I fetch from someone else's fork).

For the issues, we can indeed deal with it with using the `astropy/package-template###`, as suggested above.  Also, I believe it becomes less of an is

[2020-02-05 02:13] mhvk opened #444 "Setting up coveralls not obvious"
Probably I'm just missing things, but astropy's `.travis.yml` has more lines about coverage than the template here; in particular,
[code]
Is this important?

Also, we use what seems a new package, `codecov` - does this still push to `coveralls.io`? Would be good to update "next steps" to be clear about it (which I'm happy to do, but I need to be clear about it first!).

[2020-02-05 02:14] mhvk commented on #444
I guess issue #368 partially answers this - but even more reason to update the docs!

[2020-02-05 02:17] bsipocz commented on #444
Yes, I suppose we've switched to codecov everywhere now, but updating the docs might have lost in the weeds.

[2020-02-05 02:51] mhvk commented on #444
Any idea what those extra lines do? (Added by @saimn, so pinging...)

[2020-02-05 03:02] bsipocz commented on #444
No, I'm not exactly sure why that env variable needs to be exported as oppose to the other jobs. Arguably @saimn's changes were originated from https://github.com/astropy/astropy/pull/8248/files, but even there I see no trace of mentioning the xml, neither the export of the variable. Maybe @astrofrog can shed light on the question?

[2020-02-05 03:12] mhvk commented on #444
Also, does anyone know how to get rid of the `coveralls` in the checks for a PR? (I promise I'll make a PR for the template docs!)

[2020-02-05 03:26] bsipocz commented on #444
I think it should be listed as a `webhook` in the settings menu of the project's repo. Delete the webhook and it should be fine (along with the changes in the travis config, etc, along the ones made in e.g. https://github.com/astropy/astropy/pull/7879)

[2020-02-05 03:28] bsipocz commented on #444
(if it's not there, pls let me know, it was just a guess, as I don't think I have access to any settings any more that still uses coveralls).

[2020-02-05 16:09] pllim commented on #444
Either webhook or app, I can't remember now, but I do remember it is on the admin panel.

[2020-02-06 12:15] astrofrog commented on #442
I agree that we should fix this - anyone want to do a PR? :)

[2020-02-07 19:36] mhvk commented on #444
Thanks for the tips - it turned out I also needed to remove coveralls in "branches", in the protection of the master branch.

[2020-02-10 09:55] #403 closed

[2020-02-25 10:33] bmorris3 opened #450 "tox displays plot during testing"
I'm using the package template [over here](https://github.com/bmorris3/eugene) and running into a small problem when running `tox -e test` locally. When tox gets to the step:
[code]
(i.e. test the docs), it actually displays one of the plots to the screen generated by [the plot directive in the documentation](https://github.com/bmorris3/eugene/blob/master/docs/eugene/gettingstarted.rst). How can w

[2020-02-25 10:55] bmorris3 commented on #450
Upon further investigation it wasn't the plot directive, it was the code-block that executed the plot that was causing the problem. If I add
[code]
to my `tox.ini` I can run the tests locally without getting a plot.

[2020-02-25 18:37] astrofrog commented on #450
That is indeed the best way to solve that issue. Should we include it by default in the template?

[2020-02-26 05:16] bmorris3 commented on #450
My vote is yes! See #453.

[2020-03-05 14:49] pllim opened #454 "Travis CI YAML needs updating for comprehensive stage"
See astropy/astropy#10011

p.s. If already applied, feel free to close.

[2020-03-25 12:50] bmorris3 opened #456 "Default template settings don't pass initial test"
I'm currently working with the latest version of the package-template to build a new package, and I'm unexpected getting test failures both locally and on Travis [when I try to run the tests](https://travis-ci.com/github/bmorris3/retrieval/jobs/302542519#L313). Anyone know where I need to insert astropy to fix tox? Thanks!

[2020-03-25 13:04] Cadair commented on #456
This template should probably be rebased off / merge in the openastronomy one as I have implemented proper tests for the template which would catch this there.

@bmorris3 I would think you need to add it in `install_requires` in the `setup.cfg` file.

[2020-03-25 13:08] bmorris3 commented on #456
That fixed it, thanks @Cadair! Sorry I couldn't get there myself 😄

[2020-04-24 19:18] weaverba137 opened #458 "Current rendered template installs and runs coveralls/codecov unconditionallly."
The current rendered .travis.yml file contains [these instructions](https://github.com/astropy/package-template/blob/2d4b1c5c3c4c94449b3e8db925d8721f1e3db293/.travis.yml#L156).  However, if one simply uncomments the desired lines, then coveralls or codecov are installed and run unconditionally, without checking to see whether a coverage test was actually run.

The astropy .travis.yml file has [an

[2020-05-09 14:16] lpsinger opened #461 "version.py template should not import setuptools_scm if package is installed from a distribution"
The version.py template (the `VERSION_TEMPLATE` string constant in setup.py) unconditionally attempts to import `setuptools_scm`:

[code]

`setuptools_scm` is an expensive import because it imports `pkg_resources`, which enumerates all installed packages (see pypa/setuptools#926). On my MacBook with an SSD, this is the main cost of importing any Astropy affiliated package, adding 0.3 seconds of ov

[2020-05-09 15:33] pllim commented on #461
Hmm. I never used the template thingy in my projects, so I am not sure what is the correct solution here. Looks like [astropy core is using this](https://github.com/astropy/astropy/blob/29f80054c8363270c567da0c0f3f3e4e05f55053/setup.py#L66-L75) too. Maybe @astrofrog or @Cadair can comment.

Thanks for bringing this to our attention!

[2020-05-09 15:48] pllim commented on #402
Update: "Nightly" build (actually weekly?) of Numpy is available and being used in the core. See astropy/astropy#10288

Recently, @nmearl ran into problem building Numpy dev from source using this template, so changing to "nightly" would be a big plus.

Also, I see that I kinda volunteered above? LoL. I am reading up on Actions but I won't assign this to myself (yet) in case I don't get far with i

[2020-05-13 01:08] HeloiseS opened #463 "APE17 - cookiecutter fails step 0 - example setup.py?"
Hello,

trying to do the migration in APE17: https://docs.astropy.org/projects/package-template/en/latest/ape17.html#step-rerender

Step 0 fails - badly for me - I checked if i could do this import in my interpreter and I have no issue so i don't know what's gone wrong
[code]

Anyways, since i don't have my new shiny setup.py is it fine to use the astropy one as a basis?

[2020-05-14 10:00] Cadair commented on #463
This looks like a real bug in the template, the names of the files in the template and the hook don't match. Easiest immediate workaround for you @HeloiseS is to just set `use_readthedocs` to true and delete the files yourself.

[2020-05-14 22:01] HeloiseS commented on #463
Thanks :) will do

[2020-05-15 13:36] astrofrog commented on #461
This was added because people wanted the version to be updated correctly without re-running ``pip`` when using an editable install, but I agree that we don't really want that for installed stable versions. Maybe we can do something simple like check if a git repository is present one level up before trying to import ``setuptools_scm``?

[2020-05-15 13:54] lpsinger commented on #461
Yes, that would do it.

[2020-05-15 14:23] astrofrog opened #464 "pyproject.toml template uses wrong variable"
Currently pyproject.toml relies on ``include_example_code`` to determine whether to add extension-helpers, but it should use ``use_compiled_extensions``

[2020-05-15 15:43] weaverba137 commented on #461
Sorry if I'm missing something here, but once `setuptools_scm` sets the `__version__` value, during install, would it still be imported?  That is, in a production environment, with fixed package versions, do we need to worry about this?  Or is the concern production/test environments where packages are reinstalled every time?

[2020-05-15 15:44] weaverba137 commented on #461
@astrofrog, why not check to see whether `__version__` is already set?  Or does that create a circular situation?

[2020-05-19 15:21] pllim commented on #402
Update: I think the clean-up was actually mostly done in #408, so #462 to add numpy wheel would actually completely resolve this.

Also, moving to Azure/Actions is out of scope and can be a separate PR/issue for the future. Should probably wait and see how astropy/astropy#8445 goes first.

[2020-05-19 20:54] rrjbca opened #466 "Errors in 3-clause BSD license template"
[BSD3.rst](https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/licenses/BSD3.rst) does not match https://opensource.org/licenses/BSD-3-Clause:
- Clause 3 incorrectly refers to "the Astropy Team" instead of "the copyright holder"
- Clauses should be numbered
- Obsolete copyright symbol and "All rights reserved" statement

[2020-05-22 14:13] matteobachetti opened #468 "Devdeps builds take forever. Any suggestions?"
Hi, I noticed that devdeps builds take a lot of time to run, because the tox initialization takes forever. I tried specifying the #egg option for every development dependency and, even if it does speed up things a lot if I call pip directly, it does not seem to affect the tox build.
Any ideas?

[2020-05-22 15:26] pllim commented on #468
Which packages are you trying to build dev from source?

[2020-05-22 15:26] pllim commented on #468
Also, if you don't really need to test against upstream dev, disable it.

[2020-05-22 17:02] matteobachetti commented on #468
Thanks for your answers.
We track astropy, numpy, stingray, pint. These are the packages whose API changes, over time, broke some of our functionality, so I do like to track their dev branches

[2020-05-22 17:09] pllim commented on #468
For numpy -- you can use their nightly wheel. See #462

For the others, I think you gotta build from source still. Unfortunately, I am not familiar with tox. Maybe @Cadair can clarify why it is so slow.

[2020-05-23 17:14] astrofrog commented on #468
This should not be tox related, just related to the fact those packages have to be built anyway, tox or not. But I think we really want to start publishing nightly or weekly wheels for astropy too, which would help this problem. This shouldn't be too hard to do in principle.

[2020-05-24 13:24] #466 closed

[2020-05-31 06:49] bmorris3 opened #471 "Passing remote-data flag through tox?"
Hi team!

I'm working with the package template on a package that has fetches some remote data within its tests. I think the way to flag this in the tox infrastructure is to add the flag:

[code]

Is that correct, or is there a better way to do it? Perhaps we can add this line to the package template and comment it out, so it's easy to discover for other users?

[2020-05-31 08:30] Cadair commented on #471
By default you can pass extra arguments to pytest by doing `tox -e ... -- --remote-data`.

If you want to have a specific environment which runs the online tests (i.e. `tox -e `py38-online`) you can customise the `commands=` line in tox.ini, you can look at [sunpy's](https://github.com/sunpy/sunpy/blob/master/tox.ini#L76) tox.ini file to see an example of doing this.

[2020-05-31 09:16] astrofrog commented on #471
Also see the core package's [Travis configuration](https://github.com/astropy/astropy/blob/master/.travis.yml#L84) to see how to add the flag during CI to only some builds.

[2020-05-31 10:19] bmorris3 commented on #471
@Cadair – Ah thanks! When I tried `tox -e test --remote-data` I get:
[code]
I see that I needed the extra `--` to make it work.

Thanks also to @astrofrog for the syntax example!

[2020-05-31 10:19] #471 closed

[2020-06-14 08:02] bmorris3 opened #474 "How to set the version with the latest package template"
Currently the [`setup.cfg`](https://github.com/astropy/package-template/blob/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/setup.cfg#L13) file doesn't contain a `version` keyword, but the [astropy package-template docs page](https://docs.astropy.org/en/latest/development/astropy-package-template.html) asks you explicitly to edit the `version` of the software in the `setup.cfg` file. I'v

[2020-06-14 08:17] bmorris3 commented on #474
@cadair answered this question with a [reference to the docs](https://packaging-guide.openastronomy.org/en/latest/releasing.html#incrementing-version-numbers) via Slack. Perhaps we need to update the astropy docs to match?

[2020-06-14 16:42] pllim commented on #474
I think the text in Steps 9 and 10 in astropy dev doc was an oversight. Thanks for catching that. Please open a pull request. Thank you!

[2020-06-30 00:25] dr-rodriguez opened #475 "Coverage results not being sent to codecov/coveralls"
I've been setting up a new package with this cookiecutter template and have most of the CI setup complete. However, the coverage information has been causing issues. Initially, I followed the instructions to set up for coveralls, but after seeing 0% coverage repeatedly I figured there was an issue and switched to codecov. Codecov is giving me a more interesting message and after some debugging I b

[2020-06-30 00:51] dr-rodriguez commented on #475
As a quick update, adding a `cd .tmp/py38-test-cov` to travis prior to calling codecov does get the .coverage file processed, but it's probably not ideal to have that hard-coded in, particularly if one is considering coverage for different environments.

[2020-06-30 15:31] pllim commented on #475
Looks like the actual command on `astropy` is a little different: https://github.com/astropy/astropy/blob/7cc204fc187fdf0187ef7155ea79ecdf0fe53de5/.travis.yml#L260-L264

[code]

[2020-06-30 15:51] dr-rodriguez commented on #475
True, but I think that addresses more #458. I ended up using:
[code]
The underlying issue for me is that after the tox test runs travis navigates back to the top level directory and codecov can no longer access the .coverage file. I would recommend that a cd statement like what I have (now with the `$TOXENV` variable) be part of the default travis that gets installed, but I'm not sure how frequent

[2020-06-30 15:53] pllim commented on #475
Yeah, I have no idea why it works for `astropy` but not others. Maybe @Cadair knows.

[2020-06-30 16:11] saimn commented on #475
Astropy is specifying the config path in the test command : `--cov-config={toxinidir}/setup.cfg`
https://github.com/astropy/astropy/blob/master/tox.ini#L93
This way the coverage report works also when running tox manually.
I found this while working on the coverage for astroscrappy recently, but forgot to report, sorry !

[2020-06-30 16:14] saimn commented on #475
Oh and probably this as well:
https://github.com/astropy/astropy/blob/7cc204fc187fdf0187ef7155ea79ecdf0fe53de5/.travis.yml#L226-L228

[2020-06-30 16:17] dr-rodriguez commented on #475
Aha! Yes, it was the missing before install statements that @saimn points out. Those are missing from the default .travis.yml file but present in the astropy one. When I added them I got a coverage.xml file produced in the top-level directory that codecov was able to access.

[2020-06-30 16:17] pllim commented on #475
Ah, it's set in `before_install`. I totally missed it. Thanks!

So, I guess the template needs fixing.

[2020-06-30 16:19] #402 closed

[2020-06-30 16:20] #450 closed

[2020-06-30 23:40] #475 closed

[2020-07-30 15:40] weaverba137 commented on #458
Looks like this has been fixed in the latest rendered template, no need to keep this open.

[2020-07-30 15:40] #458 closed

[2020-08-28 18:33] nstarman opened #478 "Make dedicate (cookiecutter) branch for research projects with associated code"
I propose a permanent branch of package-template for research projects.

Research projects would benefit from following a standardized layout and building off the nice features in this template package. In a fork, I've been building a project template -- [https://github.com/nstarman/project_template](https://github.com/nstarman/project_template).

The main added features are:
- more project-orient

[2020-09-08 08:11] astrofrog commented on #478
@nstarman - thanks for proposing this! We'll need to have a think about it as it might make more sense to just keep it outside the astropy organization but link to it (e.g. 'if you are interested in a template for a research project you might instead want to check out <link>'). We're trying to avoid accumulating too much in the astropy organization because even if you are able to help maintain it

[2020-09-10 19:42] nstarman commented on #421
Is the branch "master" just the cookiecutter branch run with a preset list of answers?

[2020-09-10 19:44] bsipocz commented on #421
yes, master was only kept for backward compatibility, and is a rendered version from the cookiecutter.

[2020-09-10 19:49] nstarman commented on #421
Could that rendering be done with a custom GitHub action? Then anyone forking the repository could easily add that action to their repository and have a rendering that reflects their updates.

[2020-09-10 19:50] nstarman commented on #421
Also, I agree that `rendered` is a less confusing name.

[2020-09-10 20:00] nstarman opened #479 "Create .git folder on render"
it would be nice to be able to import a repository into GitHub rather than create the repo and add the cookiecutter-generated contents.
I think adding a .git folder with the bare minimum of files could accomplish this.

<img width="561" alt="Screen Shot 2020-09-10 at 15 59 21" src="https://user-images.githubusercontent.com/8949649/92795734-9afe3000-f37e-11ea-8bb7-fcf2ba8ccf27.png">

[2020-09-10 20:03] nstarman opened #480 "Make rendered branch a GitHub template"
I'm not sure if there are technical details preventing this, but it would be great if the rendered branch (currently `master`) was a GitHub template and showed up as an option in the dropdown menu when creating a new repository.

<img width="582" alt="Screen Shot 2020-09-10 at 16 01 41" src="https://user-images.githubusercontent.com/8949649/92796148-f03a4180-f37e-11ea-8366-ca880eac583f.png">

[2020-09-10 20:10] bsipocz commented on #421
The rendering to the master branch was to provide a backward compatible way for folks who used the template before it started to use cookiecutter.

I don't understand how a github action come into play with this, the repo was never meant to be used by forking, etc. And renaming was rejected as it didn't provide the necessary backward compatibility that was required at the time when the default bra

[2020-09-10 20:18] nstarman commented on #421
Makes sense about the naming.

WIth regards to automatic rendering, this is related to #480 . Having an up-to-date rendering would allow GitHub repo generation using GitHub's template mechanism.
I had an old template https://github.com/nstarman/template_project that I deprecated in favor of using this project. However, one of the very convenient features was the one-click setup in GitHub, using th

[2020-09-10 20:23] nstarman commented on #421
I think this discussion should be moved to #480. Do you mind if I drop some quotes from here to there ?

[2020-09-10 20:32] bsipocz commented on #421
FYI the rendering is up-to-date.

[2020-09-10 20:34] nstarman commented on #421
Thanks. I was wondering about that.
But is this handled manually?

[2020-09-10 21:24] pllim commented on #480
GitHub repo template didn't exist when we created this. There is no current plan to migrate to use GitHub template.

[2020-09-10 21:28] nstarman commented on #480
Makes sense. The current implementation of GitHub templates is pretty limited, but it looks like it might just be one click ( https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/ ). I don't know if it can be limited to the rendered branch, leaving the cookiecutter main branch unchanged.

[2020-09-10 21:31] pllim commented on #480
@Cadair is the `cookiecutter` expert here, so perhaps he can comment. 🤞

[2020-09-10 21:35] nstarman commented on #480
Also, something that was mentioned in #421 — if this is possible, then adding a GitHub action to render and push to master from the cookiecutter branch would allow anyone forking the repository to add that action to their repository. Any forked repositories would then also have GitHub template that reflect changes in the cookiecutter branch.

[2020-09-10 21:40] pllim commented on #480
Re: https://github.com/astropy/package-template/issues/480#issuecomment-690744704 -- Sounds interesting!

[2020-09-24 15:13] Cadair commented on #479
We used to do this, but it was a bit of a pain. All you need to do is run `git init` after cookiecutter.

[2020-09-26 21:10] nstarman commented on #479
Fair enough. I'm just looking at the large number of items I still do on project startup and hoping to automate them away.
What specifically was the pain point?
Could a post_gen_project hook make the folder afterwards? Or is `git init` preferable?

![Screen Shot 2020-09-26 at 17 09 43](https://user-images.githubusercontent.com/8949649/94350317-216f6e80-001b-11eb-850d-34e7c02f9c55.png)

[2020-09-27 16:53] mwcraig commented on #479
This is an interesting idea but I'm a little hesitant to impose the requirement that a .git folder be created. I could see that leading, in some edge cases, to unexpected behavior.

It might work as an option in the cookiecutter dialog to create a git repo by running `git init` post-generation, though I 'd argue for a default value of "no" for the option.

[2020-09-28 13:50] Cadair commented on #479
[here](https://github.com/astropy/package-template/blob/34c5256e192113882fa52ccbb30a15cd002f3b6a/hooks/post_gen_project.py#L61) is an old version of the hook which used gitpython to init the repo and the old astropy_helpers submodule.

[2020-09-30 02:19] nstarman commented on #479
Thanks for the suggestions. I like the idea of actually running `git init` rather than manually generating the file.

[2020-09-30 10:04] Cadair commented on #479
yeah I wouldn't recommend manually generating it.

[2020-10-04 23:45] nstarman opened #486 "Don't docstest `extern` contents"
The extern module contains bundled codes. As the default, doctstring-plus tests may/should not be applied ?

I have a branch open with this small change. Should I PR?

in tox.ini

[code]

[2020-10-05 21:20] nstarman opened #490 "Add pre-commit for isort & flake8"
I use pre-commit with isort & flake8 (and other code stylers, but those are the important ones). Having this on render is nice, particularly since Travis has a flake8 test.

Only one file is added — pre-commit-config.yaml. The isort and flake8 configurations are kept in pyproject.toml and setup.cfg

This could be opt-in/out or just packaged.

[2020-10-06 02:19] nstarman opened #491 "Interest for a series of PRs"
Trying to merge code I have in my repo fork.

1. [Add credits.rst file](https://github.com/astropy/package-template/compare/cookiecutter...nstarman:add-credits-on-render) to rendered docs [#492]
2. [Add installation instructions](https://github.com/astropy/package-template/compare/cookiecutter...nstarman:installation-docs) to rendered docs [#493]
3. [Add pre-commit](https://github.com/astropy/pack

[2020-10-06 16:19] nstarman commented on #480
Unfortunately I cannot do a PR for GH actions. I'll try to get something working on my fork and then share the yaml file.

[2020-10-07 20:29] embray commented on #480
The existence of GitHub [project templates](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/creating-a-template-repository) is an entirely new discovery to me, so I'm not sure what this would entail.  Sounds like a good idea though!

[2020-10-07 20:32] embray commented on #480
That would work if they fork the repository, but what if they create it from a template, or from scratch?

Regardless, we could still come up with a mechanism (not necessarily reliant on forking) to use Actions to easily apply updates (or at least attempt to) from the package template.  This should be done at the package owner's discretion though, not necessarily automatically.

[2020-10-07 20:34] embray commented on #480
I see now that when creating a repository from a template it is possible to choose all branches from the template as well.

[2020-10-07 20:39] nstarman commented on #480
Good to know. I was dreading the conversation about making `main` (master)  the default branch.

[2020-10-07 20:43] embray commented on #480
I see now that the feature is rather simple.  I thought it might incorporate some cookie-cutter-like functionality, but it literally just copies the repository without explicitly forking or copying the history.  So I think it makes total sense to just go ahead and do this.  The Action niceties could come later, though it might not be too hard to add either (I have not worked with GitHub Actions ye

[2020-10-07 20:46] nstarman commented on #480
As making this repo a GitHub template is just a button in settings, maybe this Issue should be tagged with `keep-open` for the Action implementation.

[2020-10-18 00:54] nstarman opened #496 "Multiple Codecov uploads"
I'm having some trouble uploading more than one Codecov coverage report.
On the [website](https://docs.codecov.io/docs/merging-reports) it says they are automatically merged, but when I add the flag ``-cov`` to more than one test, only the first seems to be uploaded. Does anyone have experience with multiple reports? If someone can help get this figured, I can also push something about this, docs

[2020-10-19 16:31] pllim opened #497 "MNT: Rethink the scope of this template"
Maintainers need to discuss and set clear scope for this template, and then communicate it to users/devs.

[2020-11-13 16:04] nstarman opened #499 "switch from Travis"
What to use instead?
- GitHub Actions
- CircleCI
- something else

@pllim I saw you've been working on an Astropy GitHub Actions CI.

**Accepted Solution**

@pllim -- There are actually two parts we need to do:

- [x] Use GitHub Actions in the generated template, see #449 by @tepickering .
- [x] Use GitHub Actions in this repo itself, assigned to @pllim . See #502

[2020-11-13 16:26] mwcraig commented on #499
I think a PR may be coming soon adding Github Actions to the template. It may be a couple of weeks still until a PR is opened. If you need to switch now, take a look at the setup in photutils. They have already switched and have a nice setup.

[2020-11-13 21:25] pllim commented on #499
Template CI update is pretty low on my list right now, so if you are waiting on me, don't hold your breath...

[2020-11-17 16:37] pllim commented on #499
Thank you for bringing this to our attention. I have updated your issue above with the accepted solution and a way forward.

[2020-11-18 16:34] wkerzendorf opened #500 "[Bug] no for read_the_docs_ results in crash in cookiecutter"
[code]

[2020-11-18 16:41] #454 closed

[2020-11-18 16:42] pllim commented on #444
I think we use codecov now? Is this still relevant?

[2020-11-18 16:43] pllim commented on #421
GitHub now defaults to `main` for new repos and @tepickering updated the default branch name in #449 . So we can close this?

[2020-11-18 16:44] pllim commented on #368
Done in #449

[2020-11-18 16:44] #368 closed

[2020-11-18 16:46] pllim commented on #500
This sounds very familiar but I cannot dig up an existing issue or PR. Hmm!

I think the fix is to allow silent failure for `remove_file` when the file doesn't exist but will have to defer to @Cadair et al.

[2020-11-18 17:50] mhvk commented on #444
No, I don't think so, so closing.

[2020-11-18 17:50] #444 closed

[2020-11-19 17:50] pllim commented on #480
FWIW, I made https://github.com/spacetelescope/stsci-package-template into a static GitHub repo template. Maybe simple is good. You start with the barest possible skeleton as a package and then add stuff to it as needed, rather than starting off with all the bells and whistles and then trying to figure out which parts you don't really need. But YMMV.

[2020-11-20 16:13] nstarman opened #501 "Automate default labels?"
Now that Cron CI tests are established, I was thinking that there are also a useful set of tests that can be run on the repository itself. Besides labels, such checks could be for dependencies (though Dependabot can do that), checks on submodules, updating the contributors list, checking the copyright dates on the license, etc.

This issue is to suggest a means to automate labels.

Something like

[2020-12-24 01:49] hamogu commented on #500
I just hit this bug, too. Exact same error with wildly different input, so seems like a legit bug and not just a random fluke.

[2021-01-12 23:26] pllim commented on #499
I started looking into this, so I updated the assignee. FYI.

[2021-01-12 23:27] nstarman commented on #499
@pllim, Let me know how I can help

[2021-01-12 23:33] pllim commented on #499
Thanks for the offer, @nstarman ! I am still working on the proof-of-concept. I will definitely reach out if I get stuck. 😸

[2021-01-13 21:03] pllim opened #503 "Rendered branch name inconsistent with default branch name in CI"
https://github.com/astropy/package-template/blob/589d8745ec9e8598b8c3017547bb6d6ae681b5f5/%7B%7B%20cookiecutter.package_name%20%7D%7D/.github/workflows/ci_tests.yml#L10

CI expecting `main` but we pushing to `master`. As a result, the `master` branch here will not kick off any CI. Is this a problem?

[2021-01-14 16:50] pllim commented on #503
When I change it to `master`, it did run, but failed. @tepickering , is it ever expected to pass or is it just a non-working example?Example log at https://github.com/kali-maa/package-template/actions/runs/485894689 .

[code]

[2021-01-29 02:35] bsipocz opened #504 "Do not ship commented out config for CI"
Many years of experience shows that commented out CI config is the wrong approach to ship this template. I strongly suggest to either make them opt in at cookicutter time, or just simply have them enabled in the matrix. The current approach doesn't answer to the question of why those are commented out, what their purpose is and what extra they bring if they are not commented out.

https://github.c

[2021-01-29 14:08] pllim commented on #504
@tepickering , do you remember why they were commented out?

[2021-01-29 19:26] tepickering commented on #504
iirc, there was a complaint that the default matrix was too large. so i commented them out to leave as ready-to-implement examples if users wanted to cover those cases. they're less-commonly used edge-ish cases so probably best to remove them. is there documentation somewhere on the use of github actions w/in the astropy ecosystem and recommended best practices? if it exists, that could be pointed

[2021-02-05 16:33] #499 closed

[2021-03-09 15:28] pllim opened #505 "MNT: Rename default branch from master to main"
Please rename your default branch from `master` to `main` as part of astropy/astropy-project#151 , preferably by 2021-03-22. Also a friendly reminder to check documentation, workflows, etc., and update them accordingly. Please don't forget to communicate this change to your users and stakeholders. To summarize:

- [ ] Rename branch from `master` to `main`, preferably by 2021-03-22. -- Default is a

[2021-04-01 17:40] weaverba137 opened #507 "Define policy for tagging package-template"
package-template has not been tagged since June 2019. As an affiliated package maintainer, I would love to be able to:

* Target a particular, recent tag of package-template, so that I can say, "this package is compatible with version XYZ of package-template."
* In addition, for each tag of package-template, there should be a clear statement that "this version of package-template is compatible wit

[2021-04-07 21:51] pllim opened #508 "MNT: Stop using update_default_config and ConfigurationMissingWarning"
See astropy/astropy#11497 and astropy/astropy#10877

[2021-04-13 19:13] #508 closed

[2021-04-26 06:32] #496 closed

[2021-05-04 22:42] bsipocz opened #512 "release tags could be inherited by downstream packages using the template"
Packages that use the template with the history may inherited release tags corresponding to the package template. With cookiecutter this may not be an issue any more as no commit details, metadata, credits, etc are inherited, nevertheless there could be many tags inherited that package authors may want to cleanup.

(See e.g. astroquery. I've cleaned up the main repo, but the errenous tags of e.g.

[2021-05-05 12:51] astrofrog commented on #512
If we wanted to fix this we go through repos that include an _astropy_init.py file, check the tag dates against the template and automatically open issue listing the tags that can be deleted safely and how to do it? Or we could just document it 😀

[2021-05-05 13:07] bsipocz commented on #512
Yes, that's what I meant with 'batchissuing'.  Which may be a bit over the board given a proper cleanup is difficult as those tags may come back from forks, too (same that happened in astropy with those really old tags)

[2021-05-05 13:56] pllim commented on #512
Hmm. I never noticed that on my packages. Maybe I wasn't templating properly... 😆  Let's pin this.

[2021-05-05 13:58] pllim commented on #512
p.s. While `_astropy_init.py` is a good indicator, it might still miss some. There is no guarantee that people would not had deleted it afterwards for one reason or another. I guess we can't catch them all.

[2021-05-14 18:35] pllim commented on #512
So, if a repo accidentally inherited the tags from this template, will their tags match exactly (or is subset of) the list in https://github.com/astropy/package-template/releases ?

[2021-05-14 18:46] bsipocz commented on #512
yes, the tags will be matched (https://github.com/astropy/package-template/tags). So date, or committer, or commit message could be used to double-check.

[2021-05-14 19:19] pllim commented on #512
As far as my Github-fu allows, I found 346 repos with `_astropy_init.py` and only 8 of them are affected. I have opened issues that are link to this issue here. But this does not prevent _future_ occurences.

[2021-05-14 22:16] bsipocz commented on #512
Yeah, we don't really support bringing the whole commit history anymore, so they would not see the tags.

[2021-05-17 14:09] pllim commented on #512
@bsipocz , should we close this as resolved then? Not sure what else we can do here.

[2021-06-15 16:41] #404 closed

[2021-06-29 18:05] epassaro opened #513 "`package_data` in APE 17 migration guide"
Followed the [migration guide](https://docs.astropy.org/projects/package-template/en/latest/ape17.html) and the `package_data` was not included.

I needed to add `include_package_data = True` under `[options]`.

Then, it worked.

[2021-06-29 18:10] pllim commented on #513
But it is in the template:

https://github.com/astropy/package-template/blob/bf8ce319e8ec99c38ab80c8af8c0437c16de0474/%7B%7B%20cookiecutter.package_name%20%7D%7D/setup.cfg#L42-L43

[2021-06-29 20:13] astrofrog commented on #513
The include_package_data option actually bypasses the package_data option and uses the manifest instead so you should either use include_package_data or package_data but not both. If the latter doesn't work, there might be a syntax or path issue in it. Could you post a link to your setup.cfg file?

[2021-06-29 21:51] epassaro opened #514 "custom `version_scheme` for `setuptools_scm`"
**Description:**

Noticed in the APE 17 migration guide there's no mention on how to switch to another version scheme (for example, CalVer). I spent a couple of hours trying to get that working (the default [`setuptools_scm` guide](https://github.com/pypa/setuptools_scm#pyprojecttoml-usage) does not help).

I think this happens because `use_scm_version` is super hardcoded in `setup.py` and does no

[2021-06-29 22:53] epassaro commented on #513
This is the working `setup.cfg`: https://github.com/epassaro/tardis/blob/ape-17-migration/setup.cfg

This is my `MANIFEST.in` that does not include all those extensions :thinking: https://github.com/epassaro/tardis/blob/ape-17-migration/MANIFEST.in

[2021-07-13 16:11] epassaro commented on #513
Please ignore this issue. Closing.

[2021-07-13 16:11] #513 closed

[2021-07-16 16:22] vincenzooo opened #515 "misspelling of filename TEMPLATE_LICENCE.rst in template"
the file is named licenses/TEMPLATE_LICENCE.rst
spelling was probably corrected in content, but not in file name

[2021-07-16 16:31] pllim commented on #515
Feel free to open PR. 😸

[2021-09-05 15:56] #474 closed

[2022-02-03 18:25] nstarman opened #519 "Package Next Steps"
In today's dev telecon we discussed https://github.com/astropy/package-template/ and it's future given that there is also [Python Packaging Guide](https://packaging-guide.openastronomy.org/en/latest/). See the telecon notes (included below) for details. In brief, the suggestions are:

1. Add a message to `package_template` that we are considering a move to the OA template. The message should proba

[2022-02-03 18:28] weaverba137 commented on #519
One comment about the Python Packaging Guide: entire top-level sections of the documentation "Needs writing!".  Literally: https://packaging-guide.openastronomy.org/en/latest/scripts.html.  I would be hesitant to recommend the template until at least all documentation is filled in.

[2022-02-08 05:16] pllim commented on #519
Good point, @weaverba137 ! I opened issue at OpenAstronomy/packaging-guide#23. cc @Cadair

[2022-02-08 10:35] Cadair commented on #519
PRs welcome ;) (you could always just remove the placeholders then you never would have complained :wink: )

[2022-02-08 15:59] weaverba137 commented on #519
I think the documentation of command-line scripts is quite important, and should be filled out rather than removed.

[2022-02-08 19:06] pllim commented on #497
Superseded by #519

[2022-02-08 19:06] #497 closed

[2022-02-11 13:23] Cadair commented on #519
Not suggesting it isn't.

[2022-06-29 12:56] maxnoe commented on #461
I can open a PR here introducing the same system as the astropy main package now uses, we copied this to our projects as well and it works great but is a bit of a pain to setup.

It would thus be great to have it in the template.

You can see a stripped-down example here:

[2022-06-29 12:57] maxnoe opened #522 "Switch to the `src/` based layout?"
There is a wide range of opinions on this, but I now more and more came to the conclusion that there are only upsides and basically no downsides to having the main python package not in the root of the directory but in a `src/` subdirectory.

The current python packaging guide recommends this layout here:
https://packaging.python.org/en/latest/tutorials/packaging-projects/
and in their sample pack

[2022-06-29 13:13] nstarman commented on #522
Any interest in jointly proposing this for astropy as well? It's something I've been considering.

[2022-06-29 14:00] maxnoe commented on #522
@astrofrog No downsides for new projects, changing this for astropy would probably be a huge pain in the ...

[2022-06-29 14:48] saimn commented on #522
I'm not sure if it would be painful to do but at least switching to a `src` layout should allow to test the installed package without having to import astropy in pytest-astropy-header :thinking:  : https://github.com/astropy/pytest-astropy-header/issues/41

[2022-09-06 20:52] pllim commented on #519
What about this?  https://github.com/scikit-hep/cookie

[2022-11-18 07:16] #386 closed